[2016-10-10 11:44] tadKeys commented on #254
Hi,

thanks for the quick reply. Are there any negative effects when `--buffer-size=200000000` is always used?

Thanks,
Stephan

[2016-10-10 12:33] lomereiter commented on #254
Shouldn't be any except for higher memory usage (about 200MB * number of threads)

[2016-10-10 13:23] tadKeys commented on #254
Sounds good. Thanks!

Best wishes,
Stephan

[2016-10-11 20:40] ernfrid opened #256 "Is sambamba 0.6.4 the correct release?"
@lomereiter - I just noticed that the binaries for 0.6.4 are self reporting as 0.6.3 and it also looks like the new functionality for retaining the AH tag in the header isn't working or isn't present. Is there any way to tell if the binary that's present currently for 0.6.4 is a mislabeled 0.6.3 or if the newest version has a bug regarding AH handling?

Thanks in advance!

[2016-10-11 21:03] lomereiter commented on #256
Thanks for spotting this, it was indeed a mislabeled 0.6.3 (judging from the executable size).
I re-uploaded the binaries.

[2016-10-11 21:03] #256 closed

[2016-10-11 21:11] ernfrid commented on #256
Thank you for fixing it so quickly! I've downloaded the new binary and verified that the AH tag is now properly handled and that the version string now reports 0.6.4.

Thank you for your work on sambamba. We use it throughout our pipeline and it is invaluable to have such an efficient tool to rely upon.

[2016-10-22 11:13] roys911 commented on #223
I see the same error with 0.6.3 (installed from bioconda) in a small subset of my DNAseq bam files. Rerunning the command again, as was suggested, does not help. Below is the command and output. The input bam was sorted using sambamba.

`sambamba markdup -t 30 -p sample.sorted.bam sample.sorted.dedup.bam

finding positions of the duplicate reads in the file...
[====================================

[2016-10-23 08:54] lomereiter commented on #223
Hi @roys911, is the error reproducible with the latest version (0.6.4)? It is not yet on bioconda channel, but available on the github [releases](https://github.com/lomereiter/sambamba/releases) page.

[2016-10-24 07:06] #248 closed

[2016-10-24 07:59] sambrightman commented on #250
Also `--threads` should be `--nthreads`, fixed by #257.

[2016-10-24 16:54] #250 closed

[2016-10-26 00:50] roys911 commented on #223
Hi @lomereiter, I have not tried that. I will give it a try.
Thanks!

[2016-10-26 01:23] roys911 commented on #223
I tried v0.6.5 from your github release page... It works like a CHARM!!!
Thanks a ton!

[2016-10-26 05:08] lomereiter commented on #223
Thanks for testing, 0.6.5 will be on bioconda ASAP.

[2016-10-26 05:08] #223 closed

[2016-11-02 23:33] sambrightman commented on #189
@MartinNowak what makes you think this is broken in the 3.10 version mentioned? Both issues appears to have their fixed in it:

[code]

If you grab the SRPM and apply patches you can also see the relevant changes in `kernel/futex.c`. The host kernel @rtnh mentions (Linux 3.19.0-49-generic) also appears to contain both fixes. There's no Ubuntu release version mentioned to be completely sure. https:

[2016-11-03 14:09] eddiebroad opened #258 "Sambamba slice doesn't handle multiple regions"
See the following commands:

       samtools view -o samtools.bam -b  C835.HCC1143_BL.4.bam        1:2000000-2001000  2:2000000-2005000
       sambamba_v0.6.5 slice -o sambamba.bam   C835.HCC1143_BL.4.bam  1:2000000-2001000  2:2000000-2005000

 Even though the usage looks the same, and no errors are thrown, they output two different BAMs. Consistent with the "slice" usage notes (seen by entering j

[2016-11-11 22:46] IvantheDugtrio commented on #235
So it looks like my company's IT won't allow access to non-employees.

Good news is this seems to be an issue with LDC so I would wait for that to get sorted out first.

I'll close this for now until LDC sorts their part out.

[2016-11-11 22:46] #235 closed

[2016-11-17 12:18] pjohansen commented on #200
Hi I am trying to install sambamba on ou red hat linux server
I have downloaded and unpacked ldc and added to path, i can call ldc2 and ldmd2 commands, yet the sambamba installation cannot locate the ldc2 executable. Is there a way other than path to tell sambamba where to find ldc2. Any help would be appreciated

[pjoh0061@rghkromesx001 sambamba]$ sudo make sambamba-ldmd2-64
cd htslib && make
mak

[2016-11-17 12:39] sambrightman commented on #200
Both steps are mentioned in the discussion  above:

[code]

[2016-11-17 12:39] lomereiter commented on #200
Hi @pjohansen, I presume that's because you're running `make` using `sudo`. As a sidenote, it's not recommended to run `make` under root in general.

[2016-11-17 12:46] pjohansen commented on #200
Thank you, i ran sudo because i keep getting permission denied. i will look at the permissions.
Thank you for a quick reply

[2016-11-21 13:47] sklages opened #262 "[feature request] : Subsampling a fixed number of records"
Hi,

I had a few large BAM files and wanted to write out a fixed number of alignments.
But sambamba itself just offers to use a fraction.

Would it be possible to add an option to subsample a fixed number of records?

I am aware that I can workaround this by combination of sambamba with some unix tools.
But I think it would be nicer to have this integrated in sambamba.

I wrote this feature reques

[2016-11-21 23:38] RichardCorbett opened #263 "max number of input files during merge?"
Hi Artem,
 We're planning to use sambamba in a project where we'll routinely merge many tiny bam files  (hundreds) into 1 bam file.  Each resulting BAM will be about the dize of 2-3 HiSeqX lanes.

Are you aware of any limit on the number of BAM files going in to a merge?

thanks,
RIchard

[2016-11-22 04:57] lomereiter commented on #263
Hi Richard,
You might have to increase the system limit on the number of open files but otherwise it should work fine.
http://stackoverflow.com/questions/34588/how-do-i-change-the-number-of-open-files-limit-in-linux

[2016-11-22 05:49] lomereiter commented on #262
Hi Sven,
You are referring to [reservoir sampling](https://en.wikipedia.org/wiki/Reservoir_sampling), and I agree it is more intuitive.
However, there are a few issues with it, compared to the current probabilistic approach:
* total number of records needs to be known beforehand (no index file is present ⇒ one extra pass);
* all algorithms I'm aware of are keeping list of items in the memory, whic

[2016-11-22 07:44] sklages commented on #262
Hi,

if I have a few hundreds of WGS BAM files and i want to do some testing. In this case I'd simply like to subsample a fixed number of records, indepedendently of the overall coverage. That's all.
Requiring an index is no problem at all, because it will (in most cases) already be there.

Using 'samtools view'  in combination with 'shuf' or similar stuff is also quite memory hungry :-)

And if I

[2016-11-22 09:08] mschilli87 commented on #262
Just to make sure I understand, are we talking about something like `samtools view -s $(bc <<< "scale=10;<NREADS> / $(samtools view -c <BAM>)") <BAM>` without the rounding errors introduced by my `bc` call?

[2016-11-22 09:18] sklages commented on #262
yep. I'd say so.

[2016-12-12 12:55] edawson opened #264 "Samtools style filtering syntax"
Is there a way to use samtools style (i.e. decimal) filter expressions with sambamba? I expected that it would be supported (given that the human-readable version is surely built on top of it). I'm having to use massive command lines to do filtering and would rather use a four-digit decimal.

If you could point me towards the relevant manual page I've missed or let me know if it's possible that'd

[2016-12-12 20:03] #264 closed

[2016-12-12 20:05] lomereiter commented on #264
Hi, this functionality was indeed missing. I've just added a new option `--num-filter`, which should be provided a string such as `96`, `/4` or `80/4` with meaning `<-f samtools flag>/<-F samtools flag>`.

[2017-01-09 16:37] idot opened #265 "ref_name =~ /regex/"
It would be nice if the ref_name filter would allow to specify a regex

[2017-01-09 18:10] #265 closed

[2017-01-09 18:12] lomereiter commented on #265
Thanks for spotting the bug, I completely overlooked the regex filter when adding (mate_)ref_name.

[2017-01-14 20:14] terrymun opened #266 "Merging pre-sorted BAM files: is sorting merged bam needed again?"
Thanks for the amazing tool! I have a question and it isn't immediately clear from the documentation for `sambamba merge`:

Does that mean that if I am using a list of sorted BAM files for merging using sambamba, I do not have to re-sort the merged BAM file?

[2017-01-14 20:20] lomereiter commented on #266
Yep, that's right. FYI, in CS jargon 'merge' almost always refers to the https://en.wikipedia.org/wiki/Merge_algorithm, in this case K-way merging.

[2017-01-14 20:20] #266 closed

[2017-01-14 20:35] terrymun commented on #266
Thanks for the clarification :+1

[2017-01-15 00:53] ohofmann commented on #219
I may be running into similar issues using bcbio that we've not been able to reproduce outside of a specific compute environment (Raijin @ NCI Australia). Biggest hurdle to debug is not being able to build a debug version from source as LDC is not available here. While I am trying to have it installed globally would it be possible to have a current sambamba binary with debug flags set?

[2017-01-18 05:14] pjotrp commented on #219
Looking at the stack trace the problem is an interplay of bgzf and the GC on specific machines. @chapmanb also complained about a similar issue. I recently built sambamba with a newer ldc and it may behave differently. @tcezard and @ohofmann: are you able to identify the machine that segfaults so we can reproduce this issue? I can send you sambamba with and without debug support for testing.

[2017-01-18 05:26] ohofmann commented on #219
@pjotrp Yes, absolutely -- Brad put together a reproducible example, we just haven't managed to crash it anywhere _other_ than Raijin, and the support team there is still busy trying to install LDC so we can build sambamba from scratch. Happy to give the test version a whirl.

[2017-01-18 07:27] pjotrp commented on #219
OK, I'll build it and make it available on Thursday or Friday when I have good internet again. I'll also provide an ldc build using http://lists.gnu.org/archive/html/guix-devel/2017-01/msg01322.html so you can build yourself.

[2017-01-19 19:42] ottov opened #267 "[feature request]: Request to add Picard-like handling of supplementary reads in sambamba-markdup"
Hi,
  We are implementing whole genome pipelines that use a variety of tools including sambamba and Picard to help process tens of thousands of BAMs this year. Your sambamba tool greatly saves on the time and costs of processing these large files by being faster than samtools and Picard. Unfortunately we can not use your sambama-markdup because it does not examine secondary and supplementary reads

[2017-01-21 07:15] pjotrp commented on #219
Using GNU Guix I have created a relocatable version of sambamba with full debug
information included.

Download the tarball from

    http://biogems.info/contrib/genenetwork/guix-sambamba-debug-0.6.5-x86_64.tgz

Unpack the tarball. Install the software by running the contained install.sh script with the target dir, e.g.

      ./install.sh $HOME/opt/sambamba-debug

You can find the sambamba binary

[2017-01-21 10:03] pjotrp commented on #219
Using GNU Guix I have created a relocatable version of sambamba with full debug
information included.

Download the tarball from

    http://biogems.info/contrib/genenetwork/guix-sambamba-debug-0.6.5-x86_64.tgz

md5sum is 6eaefc19adcf2dbce60cf18a15faea4a. Unpack the
tarball. Install the software by running the contained install.sh
script with the target dir, e.g.

      ./install.sh $HOME/opt/samb

[2017-01-21 10:03] pjotrp commented on #219
Man, I am challenged. Reopening.

[2017-01-23 17:53] pjotrp commented on #219
Symbols are in this file http://biogems.info/contrib/genenetwork/sambamba.debug.tgz. If you check out the source dir you should be able to get full debug. Please try. Mail me if you need more instructions.

[2017-01-23 23:07] yifangt commented on #224
I still have this problem with v0.6.5 binary.
Any update of the issue?
`sambamba-merge: Read reference ID is out of range`
Thanks!
Yifang

[2017-01-24 02:54] ohofmann commented on #219
I managed to deploy this, but of course our reproducible example to cause core dump no longer reproduces.. at least not with this build. I am now running the whole bcbio workflow (somatic WGS) to see if this holds up or if we need to come up with a new test case. More in a bit.

[2017-01-24 04:51] pjotrp commented on #219
That would be good news. ldc was updated. If it holds up, can you also take a look at performance - we don't want it to degrade ;). In the next step I can update LLVM to latest too.

[2017-01-24 09:15] sambrightman commented on #224
If #189 is suspected then it'd be a good to have @RoanKanninga's kernel version(s).

[2017-01-25 09:27] pjotrp commented on #224
https://github.com/lomereiter/sambamba/issues/219 includes a new 0.6.5 binary of sambamba with debug info. May be worth trying that since it was built with a recent ldc and llvm 3.7.

[2017-01-25 10:01] sambrightman commented on #219
I haven't fully followed this thread, but just a couple of notes in case they are relevant:

1. #260 should mean debug symbols are available more easily (in releases, perhaps)
2. I have experienced segfaults in the past with certain compiler/library combinations that are not "real" segfaults - they hide normal exceptions thrown by sambamba due to issues with exception handling in the library/compi

[2017-01-25 13:07] pjotrp commented on #219
I am on a slight tangent because I am using GNU Guix to build sambamba with or without symbols. These binaries can now be installed anywhere and do not require docker - you can try above URLs. We are trying to track down this particular bug - when that is done I can propose creating releases from Guix (that will also work in Docker). Building from source with ldc is a  bit of a challenge and with

[2017-01-25 15:41] sambrightman commented on #219
I'm not following you – nothing I'm aware of requires Docker; I do not run sambamba in Docker. It is being used for CI builds/releases, and with/without symbols is already supported.

What I'm suggesting is that the segfault symptom may be hiding a different underlying issue. For example, if you can trigger a segfault by providing an invalid command line, you may have the same issue I experienced

[2017-01-26 22:07] ohofmann commented on #219
Okay. False alarm.. it seems I am still segfaulting depending on what machine I end up:

[code]

I've not been able to run this with gdb:

[code]

This fails right away whereas the production run crash happens after writing the sorted file to disk. I suspect the missing libraries cause issues when trying to debug the threaded run?

[2017-01-27 06:34] pjotrp commented on #219
They should not cause issues as all libraries are in fact found. What is missing are debug symbols which were in a separate download. Anyway, I think the good news is that we are homing in on the problem which looks a bit like http://www.digitalmars.com/d/archives/digitalmars/D/learn/GC_dead-locking_47223.html

In the next step I'll send you a download of a new sambamba build with debug symbols in

[2017-01-27 08:41] sambrightman commented on #219
A few things here:

- you can install the debug symbols as mentioned above. should be easily available via distribution packages.
- SIGUSR1/2 are normal with the GC, you should disable them in GDB: `handle SIGUSR1 SIGUSR2 nostop noprint`

[2017-01-27 15:42] ohofmann commented on #219
@sambrightman Thanks, the `handle` command was helpful:

[code]

[2017-01-28 05:54] pjotrp commented on #219
https://github.com/dlang/druntime/pull/1655/commits/b22d813d0b16d694d9dbd664b247f7949b4354fa looks familiar, especially since it only contains one instruction. Let me check what is in the runtime.

[2017-01-28 06:00] pjotrp commented on #219
Yes, the instruction still sits in the ldc runtime we use.  I'll create an update.

@ohofmann thanks. I'll send you another one to try soon. Question, have you isolated the machine this happens on, or is it random on the cluster?

[2017-01-28 09:46] pjotrp commented on #219
comment on https://github.com/dlang/druntime/pull/1655/commits/b22d813d0b16d694d9dbd664b247f7949b4354fa

I built sambamba with the latest ldc and runtime 1.1.0.

Instructions for installing Guix relocatable sambamba and debugging

Fetch

    wget ../kywyw1q5cmblj30yskyrdmpn87059xi4-sambamba-0.6.6-pre1-91096e7-debug-x86_64.tar.bz2

The md5sum should be

    ea7e11f38c1983595323ceff40cd4fb3  kywyw1q

[2017-02-01 02:52] ohofmann commented on #219
Thanks @pjotrp -- can you check the `install.sh`? Fails for me with a `Error: File exists @ dir_s_mkdir - /home/563/omh563/debug/glibc-2.23-m9vxvhdj691bq1f85lpf` when pointing at an empty directory.

[2017-02-01 03:39] pjotrp commented on #219
I'll check. Can you run ./install.sh -v -d TARGETDIR so I get the full stack trace? Note that you need to remove the old folder TARGETDIR before installing (it won't overwrite).

[2017-02-01 05:49] ohofmann commented on #219
Of course:

[code]

[2017-02-01 06:00] pjotrp commented on #219
That is what I thought. You need to do

    rm -rf ~/debug

beforehand. Try using a different prefix to test. I'll add a --force switch to the installer soon.

[2017-02-01 06:18] ohofmann commented on #219
@pjotrp , the directory doesn't exist beforehand. If it does the installer complains right away:

[code]

If it doesn't it creates the directory and lots of subdirs and starts setting things up, but fails at the glibc dir.

[2017-02-01 06:49] pjotrp commented on #219
Thanks for the detailed report. I'll look into it.

[2017-02-01 08:01] pjotrp commented on #219
It is a strange error because that directory is only created once. Somehow the file system reports it (still) exists. To nail it down I updated the tarball - md5sum 52def24ae8371a3b286252fddd7cf2f5, please run with

./install.sh TARGET -v -d --force

you can send the log to pjotr.public01@thebird.nl

[2017-02-02 05:19] ohofmann commented on #219
After a bit of offline back and forth ended up with a new trace:

[code]

[2017-02-02 06:12] pjotrp commented on #219
Looks like the upstream fix related to https://github.com/dlang/druntime/pull/1655/commits/b22d813d0b16d694d9dbd664b247f7949b4354fa in latest Druntime did not fix the issue. I am going to patch out the instruction that throws the exception and we retry.

[2017-02-03 15:38] pjotrp commented on #219
New version appears to fix the issue:

     http://biogems.info/contrib/genenetwork/z9imqq7aybingq831ij4wpd3j38xxzaf-sambamba-0.6.6-pre2-91096e7-debug-x86_64.tar.bz2
     md5sum 3b93a34e96ab38d6fcbd6706d419cbc9

[2017-02-10 16:38] pjotrp commented on #219
@ohofmann what is the status?

[2017-02-10 19:07] chambm commented on #254
I increased buffer size to 128m after getting the buffer size warning, and the warning went away, but then the results I got (from `sambamba v0.6.5`) were drastically different from basic `samtools (v1.3.1)`. Both output bcfs were 9.2GB, but the result of `bcftools call --consensus-caller --output-type "v" --variants-only (v1.2)` on the sambamba output was only 3.8MB vs. 50MB from the samtools out

[2017-02-11 08:56] pjotrp commented on #254
@chambm, you can use bio-vcf for viewing differences. One example exercise is here https://github.com/pjotrp/bioruby-vcf/blob/master/doc/GATK_comparison.md

[2017-02-11 10:58] pjotrp opened #269 "Many deprecation warnings with ldc-1.0.0 and later"
There are many warnings that can (easily) be fixed: https://travis-ci.org/lomereiter/sambamba/builds/200621264

[2017-02-11 14:03] lomereiter commented on #269
I believe are in fact already fixed in BioD master (by other people), but it started using `undead` for deprecated `std.stream`, so the build process needs to be updated together with the submodule.

[2017-02-12 03:11] ohofmann commented on #219
Still got to finish a single WGS run. Brad is happily debugging on the NCI environment. Sorry, I’ll report back the minute I can confirm it’s working.

On 11 Feb 2017, 03:38 +1100, Pjotr Prins <notifications@github.com>, wrote:

[2017-02-14 15:49] hepcat72 opened #271 "Installation on Mac OS X 10.12 fails"
Not sure how to get around this...

[code]

[2017-02-14 16:08] lomereiter commented on #271
Hi, you should either set `export LIBRARY_PATH=/usr/local/Cellar/ldc/1.1.0/lib` or add this path to the flags  in the Makefile (`gcc -L/usr/local/Cellar/ldc/1.1.0/lib ...`)

[2017-02-14 16:13] hepcat72 commented on #271
Yep, that did it.  Thanks!  Been awhile since I've debugged compile issues.  Gotten rusty.  BTW, my shell is tcsh, so the command for me was: `setenv LIBRARY_PATH /usr/local/Cellar/ldc/1.1.0/lib` followed by the make.

[2017-02-14 17:22] #271 closed

[2017-02-15 19:49] chambm commented on #254
I tried 24 threads with a 128mb buffer and 30 threads with a 500mb buffer. Both results were about the same as my initial run (40 threads and 128mb). 9.2.gb output BCF, but only ~22,200 lines in the output from bcftools_call (vs. ~300,000 lines in the output from running bcftools_call on the vanilla mpileup BCF). With such a huge discrepancy in output, what do you want me to tell you about the spe

[2017-02-15 20:31] lomereiter commented on #254
@chambm please try to obtain a smaller test case by subsampling or extracting only the regions where you see the discrepancy. A good strategy to pin down the problem is bisection: split the file into two roughly equal ones by reference/coordinate, take the half for which the problem is more visible, and repeat this process.

[2017-02-16 22:34] chambm commented on #254
Aha! The bulk of the difference seems to be that `sambamba` was using `samtools 1.2` (in my PATH) and my vanilla mpileup job was using `samtools 1.3`. Wow, what a difference... In the "smaller" test case I put together (30GB BAM down to 170MB, 9GB mpileup down to 90MB), after `bcftools call`, I got 1890 SNPs with `samtools 1.3` vs. 2420 SNPs with 1.2. Using `samtools 1.2` for both sambaba and vani

[2017-02-22 02:59] tseemann opened #272 "No 'mpileup' documentation on main docs site"
There is no `mpileup` documentation tab at http://lomereiter.github.io/sambamba/

![image](https://cloud.githubusercontent.com/assets/453972/23195354/022ebd06-f907-11e6-96eb-642a2cd860a8.png)

[2017-02-23 16:03] pjotrp commented on #219
I added a new binary install of sambamba with debug information on https://github.com/pjotrp/sambamba#troubleshooting. The issue around read sorting in 'sambamba depth' should be resolved by https://github.com/lomereiter/sambamba/commit/48ac7aa2f5a817fe0898bce681a5a699e283335c.

Please test this version on your HPC. When it works we'll make a proper release which will run faster.

[2017-02-23 17:37] pjotrp commented on #269
So we are using undeaD now, but there still is a range of warnings. I'll fix them when I feel like doing that.

[2017-02-23 17:43] pjotrp commented on #255
Usually the BGZF error is because a command is trying to read a non-BAM file (say SAM).

[2017-02-23 17:43] #255 closed

[2017-02-23 17:45] pjotrp commented on #254
Differences due to samtools. I think we can close this issue.

[2017-02-23 17:46] pjotrp commented on #249
Due to inactivity.

[2017-02-23 17:46] #249 closed

[2017-02-23 17:47] pjotrp commented on #36
I think we can close this. Not part of the core tool.

[2017-02-23 17:48] #45 closed

[2017-02-23 17:49] pjotrp commented on #57
closed due to inactivity

[2017-02-23 17:49] #57 closed

[2017-02-23 17:49] pjotrp commented on #65
closed due to inactivity

[2017-02-23 17:49] #65 closed

[2017-02-23 17:50] #73 closed

[2017-02-23 17:51] pjotrp commented on #81
Fixed.

[2017-02-23 17:51] #81 closed

[2017-02-24 06:45] pjotrp commented on #67
no activity

[2017-02-24 06:45] #67 closed

[2017-02-24 06:45] #89 closed

[2017-02-24 06:46] pjotrp commented on #91
No activity

[2017-02-24 06:46] #91 closed

[2017-02-24 06:46] #92 closed

[2017-02-24 06:47] #94 closed

[2017-02-24 06:47] #103 closed

[2017-02-24 06:49] pjotrp commented on #121
Anyone want to help on adding this functionality? We can support it.

[2017-02-24 06:49] pjotrp commented on #122
Inactive

[2017-02-24 06:49] #122 closed

[2017-02-24 06:50] #125 closed

[2017-02-24 06:50] pjotrp commented on #129
Inactive

[2017-02-24 06:50] #129 closed

[2017-02-24 08:00] jdmontenegro commented on #255
well, in this case it was a complete bam file that was produced by
samtools. In the end I had to use samtools to sort it out.

Sambamba offers many improvements, unfortunately I was not able to use it
in my project.

regards,

Juan Montenegro

2017-02-24 3:43 GMT+10:00 Pjotr Prins <notifications@github.com>:

[2017-02-24 08:14] pjotrp commented on #255
The help page of view says:

[code]

Going from above instructions you were feeding `sambamba markdup` a SAM file, not a BAM file. The preceding command should have been

[code]

[2017-02-24 10:27] avilella opened #275 "bin in read set incorrectly -- sambamba markdup"
Ran sambamba v0.5.5 on a bam file aligned with bwa mem. It comes up with a binning error:

[code]

Any way this can be fixed/ignored during sambamba markdup? Before?

[2017-02-24 14:24] lomereiter commented on #275
Hi, this should be fixed in versions ≥ 0.5.9, please upgrade.

[2017-02-24 20:34] #36 closed

[2017-02-24 20:35] #110 closed

[2017-02-24 20:37] #131 closed

[2017-02-24 20:37] pjotrp commented on #133
Done. Needs to go on mainline master soon.

[2017-02-24 20:37] #133 closed

[2017-02-24 20:38] #156 closed

[2017-02-24 20:39] pjotrp commented on #158
Inactive

[2017-02-24 20:39] #158 closed

[2017-02-24 20:39] #160 closed

[2017-02-24 20:39] #162 closed

[2017-02-24 20:40] #164 closed

[2017-02-24 20:40] #166 closed

[2017-02-24 20:42] #170 closed

[2017-02-24 20:43] pjotrp commented on #177
Inactive

[2017-02-24 20:43] #177 closed

[2017-02-24 20:43] pjotrp commented on #187
Inactive

[2017-02-24 20:43] #187 closed

[2017-02-24 20:43] #188 closed

[2017-02-24 20:46] pjotrp commented on #189
I am willing to look at this bug if anyone is still facing it.

[2017-02-24 20:47] pjotrp commented on #178
Inactive - reopen if you face the same issue

[2017-02-24 20:47] #178 closed

[2017-02-24 20:47] #196 closed

[2017-02-24 20:48] #218 closed

[2017-02-24 20:49] #206 closed

[2017-02-24 20:49] #221 closed

[2017-02-24 20:49] #269 closed

[2017-02-24 20:50] pjotrp commented on #219
Fixed in 0.6.6-pre3

[2017-02-24 20:51] #275 closed

[2017-02-24 20:54] pjotrp commented on #272
Hi @tseemann mpileup is essentially a parallelization wrapper over samtools. Probably better ways to achieve the same exist. But maybe we'll add a tab one day ;)

[2017-02-24 20:54] #272 closed

[2017-02-24 20:54] #263 closed

[2017-02-24 20:54] #262 closed

[2017-02-24 20:56] pjotrp commented on #258
Hi @eddiebroad  - anyone in Boston willing to help add this?

[2017-02-24 20:58] pjotrp opened #277 "Add performance/regression test framework"

[2017-02-24 20:59] pjotrp commented on #174
https://github.com/lomereiter/sambamba/issues/277

[2017-02-24 20:59] #174 closed

[2017-02-24 20:59] pjotrp commented on #239
Following up in https://github.com/lomereiter/sambamba/issues/277

[2017-02-24 20:59] #239 closed

[2017-02-24 21:00] #232 closed

[2017-02-24 21:01] #224 closed

[2017-02-24 21:01] #228 closed

[2017-02-24 21:02] #211 closed

[2017-02-24 21:03] #254 closed

[2017-02-24 21:05] #208 closed

[2017-02-24 21:06] #115 closed

[2017-02-24 21:06] #107 closed

[2017-02-24 21:07] #207 closed

[2017-02-24 21:14] pjotrp commented on #197
Reopen if it is still an issue

[2017-02-24 21:14] #197 closed

[2017-02-24 21:17] #140 closed

[2017-02-26 19:45] lomereiter opened #278 "Apply dfmt to the whole codebase"
https://github.com/Hackerpilot/dfmt

* OTMS brace style
* indent size of 2

[2017-02-27 11:24] rekado commented on #133
See also https://github.com/BIMSBbioinfo/guix-bimsb/blob/master/bimsb/packages/staging.scm#L2083

[2017-02-27 14:55] pjotrp commented on #133
Cool. This is mine - : https://github.com/genenetwork/guix-bioinformatics/blob/master/gn/packages/sambamba.scm. Later version includes test target and undeaD updates. I'll warn you when we do a next release (soon).

[2017-03-02 21:44] ernfrid opened #280 "Problem with CRAM parsing"
We first noticed this on version 0.6.4, but it appears to exist in 0.6.5 as well.

Running a command like: `./sambamba_v0.6.5 view -C -f bam file.cram -l 0`

Eventually results in an error like:

`*** glibc detected *** ./sambamba_v0.6.5: corrupted double-linked list: 0x00000000013f1430 ***`

If instead we output to SAM, I get a slightly different error:

`sambamba-view: Failure in cram_decode_sli

[2017-03-04 10:33] pjotrp commented on #280
Thanks @ernfrid. Can you run the recent sambamba with debug information using https://github.com/lomereiter/sambamba#troubleshooting and see if that fails?  And do you have an example CRAM file we can use to replicate the issue?

[2017-03-05 07:21] tillea opened #281 "Please issue new release (0.6.7)"
Hi,
I intend to package sambamba for Debian.  Unfortunately there is some problem with std.stream in undeaD for the latest release (see thread on [Debian Med packaging list](https://lists.alioth.debian.org/pipermail/debian-med-packaging/2017-March/051054.html) )  Matthias Klumpp has given a hint that this is fixed in sambamba Git - so a release of the recent code would help.
Kind regards, Andreas.

[2017-03-05 11:12] pjotrp commented on #281
Hi Andreas! A Debian release would be very useful and I want to help. I work on Debian with GNU Guix.

In the git master there is a Makefile.guix without rdmd that we can use/adapt for Debian. Can you take a look? What version of ldc2/ldmd2 compiler are you actually using?

[2017-03-05 11:49] lomereiter commented on #281
Hello Andreas,
Thanks for working on this! I've just pushed v0.6.6 tag.

Please note `sambamba-ldmd2-64` goal doesn't require rdmd, and it's the one we use for release builds.

[2017-03-05 12:03] pjotrp opened #282 "Create Debian package"
Continuing from https://github.com/lomereiter/sambamba/issues/281

[2017-03-05 12:16] lomereiter commented on #280
We should absolutely upgrade htslib. Good news is that we apparently can use (almost) vanilla htslib now; the core issue was having bitfields in `bam1_core_t`, whose layout is unspecified, and it is finally fixed by https://github.com/samtools/htslib/commit/6d927dfa3192492f3015b1bc9a0026f585e93acc
Other changes introduced in my fork were also either merged into htslib or fixed since then. The only

[2017-03-05 19:10] tillea commented on #281
Hi Pjotr,
On Sun, Mar 05, 2017 at 03:12:29AM -0800, Pjotr Prins wrote:

Just for the sake of interest: What's the advantage of Guix over plain Debian?  Specifically when working in bioinformatix I'd recommend to use the work of Debian Med packaging team directly - but may be I'm missing something.

Enabling build without rdmd is helpful

    $ ldc2 --version
    LDC - the LLVM D compiler (1.1.0):

[2017-03-05 20:23] tillea commented on #281
Hi Artem,
On Sun, Mar 05, 2017 at 03:49:07AM -0800, Artem Tarasov wrote:

Thanks a lot for you both very quick and helpful responses.

Looks promising.  The general problem is that you are trusting on git submodules while the Debian build needs to use the packaged version of what you are assuming in subdirectories of your build root.  This requires editing of makefiles and resource files.  I'll ke

[2017-03-06 06:13] lomereiter opened #283 "Update benchmark results"
Develop branch of Samtools finally has a multithreaded decoder used by the tools: https://github.com/samtools/samtools/commit/24971add7fb21e201b5c415b01b69ce9b46042e4

[2017-03-06 11:27] pjotrp commented on #281
Hi Andreas, I am very busy this week, but I'll try to help.

GNU Guix solves a lot of things that Debian does not do. I use it for a massive deployment of a software stack. Depends a bit on the use case, but I see it used when people need full control of software dependency graph. Another thing is that it is distribution agnostic and many HPC environments run ancient versions of Linux. Guix can be

[2017-03-07 04:29] nathanhaigh opened #284 "Support for CSI indexes"
What are the chances of Sambamba supporting `.csi` index files?

I work with cereal crops where this is starting to be an issue. Many plant species have chromosomes in excess of the ~500Mbp limits of the `.bai` index.

[2017-03-07 05:50] lomereiter commented on #284
It should be straightforward to add.

`<rant>`
It's just very annoying to deal with `hts-specs` where half of the specification is in the PDF, and another half is to be found somewhere in htslib source code (https://github.com/samtools/hts-specs/issues/70). Not sure if it's better with CRAM but that's one of the reasons I gave up and used htslib to read/write it.
`</rant>`
Fortunately, @kortschak

[2017-03-11 06:56] nathanhaigh commented on #284
Nice one @kortschak! Any chance you could provide some help/input here if needs be? Could meet up for a coffee if you are willing - I'll buy! :)

[2017-03-11 09:49] pjotrp commented on #219
Note that you need the patched ldc compiler to have this fix.

[2017-03-12 03:21] kortschak commented on #284
@nathanhaigh There is not much to add here. I have implemented what is described in the struct definition document and done some looking through the code to clarify things. In the absence of any input from the hts-specs authors I don't see any other things to do, but they are too busy Actually Doing Science to provide a spec for that that could be worked from. Sorry.

I'd be happy to discuss thoug

[2017-03-12 11:21] pjotrp commented on #284
I think we need to appreciate that writing specs and source code is *Actually Doing Science*.

Toward effective software solutions for big biology, by Pjotr Prins, Joep de Ligt, Artem Tarasov, Ritsert C Jansen, Edwin Cuppen and Philip E Bourne, Nature Biotechnology, 2015; 33, 686-687 (higly accessed) http://www.nature.com/nbt/journal/v33/n7/full/nbt.3240.html

[2017-03-12 15:42] kortschak commented on #284
@pjotrp Yes, that phrase is a quote that was used to explain why the specs are the way they are. I agree entirely that any kind of science should be reproducible and reviewable, *including the code that is used*.

[2017-03-16 15:25] avilella opened #286 "filtering by strand pair orientation"
Hi,

I have read the filtering syntax of sambamba view here:
https://github.com/lomereiter/sambamba/wiki/%5Bsambamba-view%5D-Filter-expression-syntax

And I am wondering what's the right command to filter the reads of the following orientations, using the arrow terminology in the link below:

https://ppotato.files.wordpress.com/2010/08/slide1.png

1) Exclude singletons, non-paired, unaligned, excl

[2017-03-16 15:50] avilella commented on #286
I found a way that seems unnecessarily complicated:

[code]

Can it be simplified?

[2017-03-16 16:28] lomereiter commented on #286
Hi,

Unfortunately it can't be simplified at the moment. You are asking essentially the same as https://github.com/lomereiter/sambamba/issues/216 but for slightly different use case.
For the flags I could in principle quickly add `xor` operator. Another idea would be to add `orientation` filter, e.g. `orientation == '>>' or orientation == '<<'`.

[2017-03-16 21:35] lomereiter commented on #277
OMG, I realized only now how horribly slow our binary releases are. No amount of compatibility with old systems can justify 1.5-2x difference in sorting time that I observe.

[2017-03-16 21:37] lomereiter commented on #283
@pjotrp we need new benchmarks vs samtools. Version 1.4 was released recently with multithreaded reading (finally!), so simple reading/writing (=decompression/compression) is apparently head-to-head, interesting to see more complicated stuff like sort/merge/whatever else is comparable.

[2017-03-17 06:45] pjotrp commented on #277
Hi Artem. I know we can be a lot faster. Question is where the regressions came from (probably something stupid).

The new ldc will help because it has a profiler and LLVM can optimize based on the profiler (easily leading to 15% gain). Using a newer LLVM and htslib will help too. But I will start with that after we have the framework. I don't feel confident switching without proper testing at sca

[2017-03-17 07:11] lomereiter commented on #277
The regressions don't even come from the code, it's all about build toolchain.
Easily could be wrong flags used somewhere.

[2017-03-17 08:18] pjotrp commented on #277
In Makefile.guix I use different flags. You can test that release at

     [1]http://biogems.info/contrib/genenetwork/s5ipll9mbd4kw2mxy6v4zalhh9wvvzf2-sambamba-0.6.6-52ab1ef-x86_64.tar.bz2
     md5sum a238c26b30eb57d992d7a5c11c0ab8ee

note that we can get a lot more aggressive at optimizations.

[2017-03-17 23:11] liuxf09 opened #287 "bam index pseudo bin (bin 37450) for unmapped_beg is extended to the end of file"
According to sam/bam spec v1 at page 14, pseudo bin unmapped_beg should be "file offset of the start of placed unmapped reads ". But bam index generated by sambamba for that field is extended to the end of file (end of file minus 28 for exact). This is clearly a violation of sam/bam spec. Maybe there is a reason to change to the current value?

[2017-03-18 06:28] lomereiter commented on #287
Closing as duplicate of #210

[2017-03-18 06:28] #287 closed

[2017-03-20 04:09] FrankFeng commented on #169
Hi @lomereiter ,

Just let you know I encountered the same error with Sambamba V0.6.5. And what @cviner said above could solve my problem.

[2017-03-20 05:50] lomereiter commented on #169
@FrankFeng thanks, it turned out that the number was multiplied by the number of input files.

[2017-03-23 15:42] crazyhottommy commented on #81
can you mix /dev/stdin and file name?

[code]

[2017-03-23 16:13] lomereiter commented on #81
@crazyhottommy in general yes, but not with `markdup` as it requires two passes (the only tool that works in a single pass I know of is [samblaster](https://github.com/GregoryFaust/samblaster) which must be run before sort.

[2017-03-23 16:21] crazyhottommy commented on #81
To make myself clear, I want to remove the duplicates, that's why I specify `-r`
samblaster should run after or before sort?

[code]

Thanks!

[2017-03-23 16:30] lomereiter commented on #81
It's run before sort, use same `-r` flag. Please follow the link above and read its documentation, it has examples as well.

[2017-03-23 17:30] crazyhottommy commented on #81
Thank you! I just read that.

[2017-03-27 19:46] jfarek commented on #210
Hi,

I've been encountering this issue recently and found that the issue originates from BioD. Applying this fix to the code sets the offset correctly ([file](https://github.com/biod/BioD/blob/b7f1db860d212ee5fb6f9adfb36c6e783aaeb6f5/bio/bam/bai/indexing.d)):

[code]

[2017-03-30 03:36] ernfrid commented on #280
Sorry for the long delay. My CRAM file was human data and not open access, but I just downloaded the following CRAM from 1000 Genomes and observed the same error.

`ftp://ftp-trace.ncbi.nih.gov/1000genomes/ftp/data/NA12878/alignment/NA12878.alt_bwamem_GRCh38DH.20150718.CEU.low_coverage.cram`

I failed at my first attempt in getting a sambamba with debug information turned on so I don't have additi

[2017-03-31 05:52] lomereiter commented on #280
Thanks @ernfrid, I can reproduce the issue, will look into it on the weekend.

[2017-04-14 01:07] FWTT opened #288 "sambamba mpileup has problems."
- There are differences in the results depending on whether you give the -l option in --samtools or the -L option in sambamba.
- There are duplicate values with less computation in one loci .

----
I attach the [relevant data](https://docs.google.com/presentation/d/1tVxvJzW8x7lFG7pTws9Bc9e-iKN-LwqwSiou0PFatS0/pub?start=false&loop=false&delayms=3000&slide=id.g206388bf0b_0_0)

[2017-04-17 07:36] pjotrp commented on #288
Nice picture :). Clearly sambamba interprets the bed file differently by being 1 offset rather than 0.
@lomereiter any comment?

[2017-04-17 15:45] lomereiter commented on #288
The screenshots are helpful but I'd like a little more information, in this case the full command line at least.

I've created the [issue template](https://raw.githubusercontent.com/lomereiter/sambamba/master/.github/issue_template.md) that will be shown for new bug reports, @pjotrp please have a look and edit if you wish.

[2017-04-18 11:15] pjotrp commented on #288
Template might help. But going from that output you can see it is 0 or 1 indexed. Probably easy to replicate. If not, it is not a problem.

[2017-04-23 11:11] tiehan opened #289 "Depth for amplicon sequence"
Can sambamba depth calculate the PCR based amplicon's (overlap amplicons) depth?
I have  many overlap amplicons.
Through the bam file , I can get the pair reads start and end . The pair reads' start and end is completely match to one of amplicons. I want get every amplicon's real depth to evaluate every amplicon's performance.
Can sambamba do this ?

[2017-04-25 12:10] melferink opened #290 "Depth: meanCoverage influenced by surrounding targets in BED."
Hi Artem,

I've think I found a bug in sambamba depth (region).
It seems like the meanCoverage output of a target in a BED file is influenced by the location of the surrounding target (in this example the target before the target of interest).
Below are 3 BED files, with a different location for the first target. The second target has three different values for meanCoverage eventhough the target r

[2017-05-01 20:52] lomereiter commented on #290
Thanks for all the details. Calculation of number of bases per region in mate overlap scenario is apparently buggy, which is not really surprising as it's a quite complex bit of code. It seems to fail when mate overlap happens on the border of a region from BED file.

[2017-05-02 07:28] melferink commented on #290
Ah, thanks.
Indeed, without the -m flag the differences disappears. (although that's not what I want)

An additional remark: calculations for -T are correct (similar) with or without -M.
So apparently the bug is only within the mean-coverage calculation.

[2017-05-06 18:31] abalter opened #291 "Add documentation for depth"
http://lomereiter.github.io/sambamba/docs/sambamba-depth.html

[2017-05-06 23:15] abalter opened #292 "Sambamba equivalent of bedcov?"
Is there an equivalent?

[2017-05-06 23:16] abalter opened #293 "Sambamba depth for entire genome"
Equivalent of samtools depth without specifying a region.

[2017-05-07 06:18] lomereiter commented on #292
There's no exact equivalent, but you can use
`sambamba depth region -L <bed file> <bam file> -q <min base quality> -F <read filter>`
and then use `meanCoverage` column to deduce the number of bases, multiplying it by the region length.

[2017-05-07 06:22] lomereiter commented on #293
That'd be `sambamba depth base`, but there's a small gotcha: sambamba uses zero-based indexing in the output which means it's shifted by 1 compared to `samtools depth`

[2017-05-07 06:34] abalter commented on #292
Is there documentation on the `depth` method? Can it take multiple bam files?

[2017-05-07 06:38] lomereiter commented on #292
You can see short help by running it without arguments. Multiple BAM are supported but keep in mind that `sambamba` relies only on read groups for per-sample statistics, not on filenames.

[2017-05-07 06:40] abalter commented on #292
Yup. I just did `sambamba depth -h` :)

[2017-05-07 06:40] #292 closed

[2017-05-07 06:48] abalter commented on #292
What is `meanCoverage`

[2017-05-07 06:49] lomereiter commented on #289
No, you'll have to write some code on your own, as I see has been advised already by CNVKit people.

[2017-05-07 06:49] #289 closed

[2017-05-07 07:49] lomereiter commented on #292
It's what's expected from the name: number of bases in the region that come from the reads satisfying the filter conditions and that have base call quality at least `-q`

[2017-05-08 01:19] tiehan commented on #289
OK，Thanks

[2017-05-12 16:29] carsonhh opened #294 "Sambamba view fails if command line supplied regions are not in sort order"
sambamba version 0.6.6

sambamba view fails whenever you supply multiple regions that are not in sort order on the command line. Perhaps sambamba should be sorting the regions the user gives internally as the first step before processing?

This works --> sambamba view -f bam -o test.bam 0.bam 1 2

This fails --> sambamba view -f bam -o test.bam 0.bam 2 1

sambamba-view: BAM file is not coordinate-

[2017-05-12 23:33] harperfauni opened #295 "sambamba depth base result discrepancies"
Hi,

My name is Harper and I am currently using sambamba 0.6.6 in order to see the coverage for each base in a specific region. I was particularly looking at the gene LOC729737 and the UCSC genomic coordinates for it is 1:134772-140566 (0-based) using a bed file.

The bed file looks like:

1    134772    140556

My command is:

sambamba depth base -z -L bed file bam file | head -n15

The results a

[2017-05-13 05:33] lomereiter commented on #295
Hi,

Reads with duplicate/failed QC flag or mapping quality=0 are excluded by default. You can tweak this using `-F` flag.

[2017-05-13 05:36] lomereiter commented on #294
Nice catch!

I guess it makes more sense to unset 'coordinate' order in the header and not create an index.

[2017-05-13 16:21] carsonhh commented on #294
Why not just sort the user defined regions before producing the file? I really can't think of a case where a user would want a return file that is out of order. But I can see how supplying regions in sort order may be difficult for the user, especially for non-human genomes where you may have several thousand named contigs like PMAR_23545CDF that don't have obvious sort orders like chromosomes do

[2017-06-05 14:45] harperfauni opened #297 "sambamba depth coverage threshold"
Hi,

I am currently using sambamba 0.6.6 and I was trying to find the percentage of region that has 0 coverage accurately and I have used this command in order to do so:

sambamba depth region -c 0 -T 0 -T 20 -F "not(unmapped or mate_is_unmapped or secondary_alignment or supplementary or duplicate or failed_quality_control)" -L <bed file> <bam file>

The percentage of region that has at least 20 r

[2017-06-06 20:32] nathanhaigh commented on #295
Hi @harperfauni, IGV will by default display:
- MAPQ 0 alignments
- Secondary and Supplementary alignments
- Vendor QC failed reads
- Duplicate reads

Take a look at IGV's settings, and you might be able to remove from display, the reads which `Sambamba` is also removing: https://software.broadinstitute.org/software/igv/Preferences#Alignments

 0 reads

[2017-07-03 10:01] Virome1 opened #298 "Sambamba index file"
I'm not sure if this question should be put on here.

I am piping from BWA to sambamba to sort my bam files. This is the code:
`for filename in ./seqtk_2/subsample_1/*_1.fq.gz;
do file=`echo $filename|sed 's/_1.fq.gz//'`;
filenopath=`basename $file`;
outputpath=./BWA/seqtk_2/subsample_1;
bwa mem -v 3 ./combine_reference.fa.gz ${file}_1.fq.gz ${file}_2.fq.gz | sambamba view -S -f bam /dev/stdin | s

[2017-07-03 10:05] lomereiter commented on #298
Hi, anything that writes coordinate-sorted files to disk, also writes the index file at the end.

[2017-07-03 10:05] #298 closed

[2017-07-10 23:53] pwwang opened #300 "sambamba-markdup: Conversion positive overflow"
* version of sambamba
`sambamba 0.6.6`

* the command line or bash script used (feel free to shorten paths and filenames)
`sambamba markdup "testPE1.bam" "testPE2.bam"`
The output:
`finding positions of the duplicate reads in the file...`
`sambamba-markdup: Conversion positive overflow`

* whenever possible, a set of BAM/BED files to reproduce the issue
  The input bam file was converted from a te

[2017-07-13 13:31] HamidMushtaq opened #301 "Merging sorted bam files together along with their bai files"
I have a few sorted bam files along with their bai files. Is it possible to combine both those sorted bam files as well as their bai files into single bam and bai files?

[2017-07-14 19:49] lomereiter commented on #301
Hi, the new .bai file is generated automatically whenever you call `sambamba merge` on a set of coordinate-sorted files.

[2017-07-17 19:02] RichardCorbett opened #302 "compile help request"
Hi Artem,

I'm working my way through your instructions on the main page:
https://github.com/lomereiter/sambamba

I have "installed" (read: downloaded and updated $PATH) LDC as well as cloned both sambamba and undeaD.  After downloading/cloning I try:

[code]

which makes some progress before failing at this step:

[code]

Your help, as always is greatly appreciated. What do you recommend I try ne

[2017-07-17 21:42] zeus19900814 opened #303 "sambamba merge messed up a read's chromosome"
I have two small bam files here.

https://www.dropbox.com/s/bw6hy7hilvto4n9/A.bam?dl=0
https://www.dropbox.com/s/746adkjrhg4jpkt/B.bam?dl=0

I ran sambamba merge (both single and multi threaded) on them.
For read J00126:103:HCJ7NBBXX:7:1202:14357:46768, its chromosome is chr2 in A.bam but is chr12 in the output merged bam. I am not sure why sambamba behaved like this but I suspect it might have so

[2017-07-18 18:12] lomereiter commented on #302
Hi Richard, it indeed didn't compile with DMD. Please pull the latest commit and let me know if you still have issues.

[2017-07-18 19:11] lomereiter commented on #303
Background: BAM files have both a binary section containing list of chromosome names and lengths, and the SAM header that also has the list of chromosomes (SQ lines). As of now, sambamba relies on the assumption that these lists are in the same order, but apparently that's not always the case, and it seems that the format specification allows this.
A short-term fix on your side would be to replace

[2017-07-18 20:16] zeus19900814 commented on #303
Thanks! I will modify the bam files!

[2017-07-19 16:58] RichardCorbett commented on #302
Hi Artem,
Still not quite there....

[code]

and then after some successful compilation commands I get here:
[code]

[2017-07-19 18:34] lomereiter commented on #302
Hi Richard, I downloaded LDC 1.3.0 and pushed another commit with which compilation succeeds.
I didn't see the linking errors from your output, I guess that linker gets confused when it sees both LDC and DMD libraries, so you should remove `~/dlang/dmd-2.074.1/linux/lib64` from `LIBRARY_PATH`.

[2017-07-19 22:17] RichardCorbett commented on #302
Great. I'm compiling again! thanks for you help.

[2017-07-19 22:52] #302 closed

[2017-07-19 23:07] RichardCorbett commented on #302
Shoot.    Looks like I can compile on Centos 7 as it uses (GNU libc) 2.17.       Do you have any recommendations about deploying to Centos 6 that runs (GNU libc) 2.12?

Recompiling on Centos 6 throws an ldc2 error saying it requires "GLIBC_2.15 or GLIBC_2.14".   Do you have any magic sauce you recommend?  I notice your pre-compiled binaries work all over the place.

[2017-07-20 00:02] lomereiter commented on #302
The magic sauce is compiling LDC with slightly patched version of druntime: https://github.com/lomereiter/centos-ldc
I haven't yet updated it to LDC ≥ 1.2 but the patch is quite trivial.

[2017-07-21 22:06] RichardCorbett commented on #302
Wow.   I installed your docker and I can actually compile the code to work on multiple OS.  Well done sir!

[2017-07-22 19:48] drtjpemberton opened #304 "segmentation fault when applying sambamba view on a CRAM file"
I am attempting to use sambamba (v.0.6.6) to stream a CRAM file to another program that only supports BAM. However, when I run the command `sambamba view -h -f bam -C <CRAM file>` the program throws a `Segmentation fault (core dumped)` error message without any further elaboration. Running the equivalent command with samtools (v.1.4.1) works perfectly, indicating this is not an issue with the CRAM

[2017-07-25 20:00] #300 closed

[2017-07-25 20:06] RichardCorbett commented on #302
Now down (hopefully) to the last of the last questions...

If I run "make" things compile nicely:
[code]

But if I try to compile just one command, I am missing the hts library:
[code]

What do you recommend?

[2017-07-25 20:23] lomereiter commented on #302
Well, these one-command targets are not really maintained, since `make all` is fast enough. In the second command, `-L-lhts` is outdated, instead the same set of `-L-*` flags should be used as in the first invocation.

[2017-07-25 20:26] lomereiter commented on #302
So, a concrete recommendation would be to replace `-L-lhts` with `$(DMD_STATIC_LIBS)` everywhere.

[2017-07-25 21:17] RichardCorbett commented on #302
Roger that.   As expected, problems solved.

[2017-07-27 22:19] kortschak opened #305 "build fails with "module bitarray is in file 'undeaD/src/undead/bitarray.d' which cannot be read""
Attempting to build sambamba at sha 1e3feed174588359a6a558cdbac60bb0e721c0d8 fails with

[code]

[2017-07-29 17:58] lomereiter commented on #305
Hi Dan, you should run `git clone https://github.com/dlang/undeaD` prior to build.

[2017-07-29 17:58] #305 closed

[2017-08-02 16:57] godotgildor opened #306 "Sambamba slice using bed file regions"
I was thinking about adding the ability to provide a bed file as input to the sambamba slice command.  Looking at the view code, I see that there you just call parseBed which returns an array of BamRegions.  The slice code block on the other hand expects an array of Regions.  Looking at the difference between these two structs, it appears that Region simply has the chr name, start coord, and end c

[2017-08-03 06:05] lomereiter commented on #306
Hi, your first approach sounds reasonable.
You can easily turn reference ID into a name via `bam.reference(id).name`, and the whole process can be accomplished as
[code]

[2017-08-03 16:17] godotgildor commented on #306
That's very helpful.  Thanks.  I'll look at making these changes in the next week or so.

[2017-08-08 14:40] fsandron opened #308 "sambamba view loses some reads"
Hi,

sambamba 0.6.6 seems not to behave correctly with some unmaped read mate when using the index.
samtools and sambamba view without the use of the index are fine.
Here is some reads from bwa mem (0.7.15) that trigger the issue.

[sambamba_view_testcase_uploadable.zip](https://github.com/lomereiter/sambamba/files/1208410/sambamba_view_testcase_uploadable.zip)

example of the issue:
[code]

[2017-08-11 14:00] verne91 opened #309 "Can you add sort by tag function?"
The latest release of samtools has added this function.

[2017-08-22 08:55] kumakiwami opened #310 "install error in the make step"
I try to install sambaed according to the  official suggested command,
[code]
then an error occurred in the make step, please see below,
[code]

OS: ubuntu 14.04

[2017-08-22 09:29] pjotrp commented on #310
We should tee this command. Check what is in utils/ldc_version_info_.d

[2017-08-23 07:22] kumakiwami commented on #310
@pjotrp Thanks, it has been solved.

[2017-08-23 07:22] #310 closed

[2017-09-05 19:03] harperfauni opened #311 "sambamba depth skips a region in the BED"
Hi,

I am using sambamba 0.6.6 and when I am using sambamba depth region on a bedfile without the -C option, it still skips a region. The bed file contains 100 regions and I am only getting results for 86 regions. I have identified the regions that were being skipped and ran sambamba on those regions in the command line. I was able to get results from those missing regions.

The command I used:
sa

[2017-09-07 18:53] hartzell opened #312 "Build fails with "Error: module bitarray is in file 'undeaD/src/undead/bitarray.d' which cannot be read""
I'm working on a [Spack](https://spack.io) package for sambamba.

I'm currently trying to build 0.6.6.

The build is failing with this error message:

[code]

I notice that, unlike `BioD`, there is no submodule for `undeaD` and that it is [ignored in the .gitignore](https://github.com/lomereiter/sambamba/blob/master/.gitignore#L2).

I've seen the instructions about cloning `https://github.com/dlan

[2017-09-07 19:49] lomereiter commented on #312
Hi, thanks for letting me know of yet another package manager!
You can use any of 1.0.5–1.0.7 versions (I don't think they change any code, it only gets added, since `undead` repo functions as a kind of purgatory for whatever parts of the standard library that fail to meet its ever higher standards)

I've been also arguing for a submodule but @pjotrp is very firmly convinced that they are evil 👿
C

[2017-09-07 22:28] hartzell commented on #312
I've been trained to avoid them too, but I figured since there was already *one* there, what could another hurt....

[2017-09-08 05:42] pjotrp commented on #312
In the instructions we should clone a specific version of unDead, I agree. Last time I tried latest worked, but that may change.

[2017-09-12 03:55] changcw83 opened #313 "[Feature Request] Extract or exclude alignments with QNAMES found in input file."
I have modified sambamba to be able to do it but this is the first time I'm contributing so would need some guidance.

[2017-09-12 05:08] lomereiter commented on #313
Hi, I see that you forked the repo, so now you should: (assuming zero familiarity with git)
- run `git clone --recursive <your fork URL>` and `cd` into the cloned directory
- create and switch to that new branch: `git checkout -b qname`
- run `git commit` and enter a short but descriptive commit message
- run `git push` to push these changes to Github
- create a pull request using Github user inte

[2017-09-15 00:38] dannykwells commented on #305
I'm encountering the same problem as well, and I did follow the above instructions. Is there a directory where that needs to go?

This is what the Dockerfile looks like:

 42 RUN git clone https://github.com/dlang/undeaD
 43 RUN chmod 777 undeaD
 44 RUN wget https://github.com/ldc-developers/ldc/releases/download/v0.17.1/ldc2-0.17.1-linux-x86_64.tar.xz && \
 45   tar xJf ldc2-0.17.1-linux-x86_64.t

[2017-09-15 19:06] wongs2 opened #314 "[Option request] Option not to add "@PG" tag to the bam header"
Currently, running sambamba view with "-F" generates a new "@PG" in the header. It would be good if there is an option not to do that especially when you split and combine the bam files, resulting in a long list of "@PG" in the header. Better if the default is not to do add the "@PG" tag.

[2017-09-19 18:40] lomereiter commented on #305
@dannykwells `undeaD` is supposed to be cloned into `sambamba/` directory and not separately, sorry if that's not clear from the README

[2017-09-20 08:41] vladmihaisima opened #315 "mpileup hangs if samtools would give empty output"
In case mpileup command is run with a BED file to restrict the regions, sambamba will hang if there is no output from samtools (ie: there is nothing in those specific regions).

Attached you can find some simple files to reproduce the error. The script assumes that samtools 1.3
[bug_sambamba_pileup.tar.gz](https://github.com/lomereiter/sambamba/files/1317106/bug_sambamba_pileup.tar.gz)
and sambamb

[2017-09-20 12:47] vd4mmind opened #316 "sambamba installation problem!"
I am trying to use the latest sambamba by downloading it from the git however after installing the LDC I still have issues below is the $PATH and $LIBRARY_PATH information followed by the set of commands used for installing sambamba
command for downloading LDC

[code]
Then I set up the path and below are my $PATH and $LIBRARY_PATH , post that I tried to install sambamb as show below and I still ge

[2017-09-20 12:59] lomereiter commented on #316
Can you run `ldmd2` from the command line? It could be that GLIBC is too old.

Also you should have "ldc2-0.17.5-linux-x86_64/**lib**" in $LIBRARY_PATH

[2017-09-20 13:19] vd4mmind commented on #316
I changed my $LIBRARY_PATH now
it is ```
echo $LIBRARY_PATH
/marconi/home/userexternal/vdas0000/marconi/home/userexternal/vdas0000/ldc2-0.17.5-linux-x86_64/lib
[code]
ldmd2
-bash: ldmd2: command not found
[code]

[2017-09-20 17:15] vd4mmind commented on #316
you may close this issue. The env variables were wrong. I am able to install the tool. thanks

[2017-09-21 06:50] #316 closed

[2017-09-21 11:40] vd4mmind opened #317 "How to change the temporary directory location while running sambamba to avoid Segmentation fault?"
Following my earlier issue of installation, I had successfully installed sambamba in our new HPC and it is up and running when I am using it from the command line. However, I face issue of segmentation fault when am using it via PBS script. I realized in a similar issue that increasing the h_stack this can be resolved but our HPC is having an unlimited stack. The issue is sambamba writes the chunk

[2017-09-21 12:09] vd4mmind commented on #317
I have found a way to handle it and running it now. I will close the issue as of now. Below is the command for changing the tmp dir.
`sambamba sort -o $WORKDIR/ICGCDBDE20131122025_sb_sorted.tmp.bam -p -t 10 --tmpdir=$WORKDIR -N $WORKDIR/ICGCDBDE20131122025.rsem.bam`
It is creating a tmp dir inside of my newly enforced tmp dir and taking care for creating the chunks. I will see how it goes. As of n

[2017-09-21 12:09] #317 closed

[2017-10-10 19:12] karel-brinda opened #318 "Filtering using floats"
I would be great if it was possible to filter the alignments using floats. I have a float tag `hf` and want to keep only those records having `hf>0.5`.

This works:
[code]

This doesn't:
[code]

Error: `sambamba-view: invalid symbol in input stream at position 6`

[2017-10-13 12:40] hzpc-joostk commented on #280
Hi everyone, any news here? For me sambamba v0.6.6 raises the same error with a CRAM v2.1 file produced by sambamba.

BAM to CRAM: `sambamba view --format=cram --ref-filename=${reference} … -o ${input}.cram ${input}`

CRAM to SAM: `sambamba view --cram-input ${input}.cram | head`

[2017-10-13 12:50] hzpc-joostk commented on #280
Btw, sambamba dumped this on stderr in my terminal:

[code]

Of any help?

Input file is "CRAM version 2.1 compressed sequence data" according to htsfile (htslib) 1.3, again this CRAM file was produced by sambamba.

The same error is raised when reading CRAM 3.0 format produced by `samtools view`.

[2017-10-27 21:35] changhw01 opened #320 "Failed to build due to undefined reference"
Hello,

I followed the instruction in the README to install and build the current sambamba version (v.0.6.6 I believe) on a Ubuntu14.04 VM, but got the following error message:

gcc -Wl,--gc-sections -o build/sambamba build/sambamba.o -Lhtslib -Llz4/lib -Wl,-Bstatic -lhts -llz4 -Wl,-Bdynamic -l:libphobos2-ldc.a -l:libdruntime-ldc.a  -lrt -lpthread -lm -ldl
build/sambamba.o: In function `_D6undead6

[2017-10-31 10:55] choesang opened #321 "Sambamba hangs on a bam file without reads"
Sambamba version 0.6.5 hangs on a bam file which just contains the
header but no reads.

Samtools version:  1.2 with hts 1.2.1

Sambamba was invoked with following command line

sambamba mpileup -o /export/mpileup/Run1_bsa-B1hUgpJA-_1-ready.mpileup
-t 3 -b 200000000
/export/Run1_bsa-B1hUgpJA-_1/Run1_bsa-B1hUgpJA-_1-ready.bam --samtools
-A -B -Q 0 -d 1000000000 -f /opt/hg19/seq/hg19.fa

This bam wa

[2017-11-08 07:06] pjotrp commented on #282
https://sources.debian.net/src/sambamba/

[2017-11-08 07:06] #282 closed

[2017-11-08 07:13] pjotrp commented on #320
Should work with latest tree.

[2017-11-08 07:15] pjotrp commented on #318
Feel free to submit a pull request. It is not too hard.

[2017-11-08 07:18] pjotrp commented on #321
Thanks @choesang. Can you try fix sambamba?

[2017-11-08 07:19] pjotrp commented on #312
It is a git submodule now.

[2017-11-08 07:19] #312 closed

[2017-11-08 07:20] pjotrp commented on #315
Can you try and write a fix?

[2017-11-08 07:21] pjotrp commented on #314
It should be easy to update the code. Can you have a go?

[2017-11-08 07:22] pjotrp commented on #313
Please send us a github pull request. https://help.github.com/articles/about-pull-requests/

[2017-11-08 07:24] pjotrp commented on #309
Feel free to submit a fix.

[2017-11-08 07:24] pjotrp commented on #308
Feel free to try a fix.

[2017-11-08 07:25] pjotrp commented on #306
Any progress on this one?

[2017-11-08 07:27] pjotrp commented on #281
We should be heading for a new release.

[2017-11-08 07:31] pjotrp commented on #32
No activity

[2017-11-08 07:31] #32 closed

[2017-11-08 07:31] #120 closed

[2017-11-08 07:31] #121 closed

[2017-11-08 07:31] #168 closed

[2017-11-08 07:32] #210 closed

[2017-11-08 07:32] #216 closed

[2017-11-08 07:33] #222 closed

[2017-11-08 07:33] #229 closed

[2017-11-08 07:33] #240 closed

[2017-11-08 07:33] #258 closed

[2017-11-08 07:34] pjotrp commented on #278
We'll do that.

[2017-11-08 07:35] #267 closed

[2017-11-08 07:35] pjotrp commented on #241
Feel free to pick this up.

[2017-11-08 07:35] #241 closed

[2017-11-08 07:36] pjotrp commented on #284
Feel free to pick this up.

[2017-11-08 07:36] #284 closed

[2017-11-08 16:49] sjackman commented on #121
To clarify, was this feature implemented?

[2017-11-08 16:53] pjotrp commented on #121
No, sorry. Please sign up on the mailing list to discuss future directions.

https://github.com/biod/sambamba#getting-help

[2017-11-08 19:18] kghosesbg opened #322 "sambamba index incompatible with htslib for HTS_IDX_NOCOOR ("*" contig)"
Problem:
---------

- htslib allows us to fetch reads from particular contigs of an indexed BAM file. The special contig string "*" is reserved to extract unmapped reads from the end of the BAM file in the `NOCOOR` region.
- when a BAM file is indexed by sambamba htslib can not find these reads
- when the same BAM file is indexed by samtools htslib can find those reads.

How to replicate:
--------

[2017-11-09 06:53] pjotrp commented on #322
Thank you for this excellent report! @kghosesbg do you mind signing up to our mailing list if you have not done so? We will discuss sambamba development and priorities. This certainly belongs there!

[2017-11-09 06:56] #293 closed

[2017-11-09 06:57] #291 closed

[2017-11-09 06:57] #288 closed

[2017-11-09 06:58] pjotrp commented on #294
Closing. May reopen at some point.

[2017-11-09 06:58] #294 closed

[2017-11-09 06:59] #295 closed

[2017-11-09 06:59] #301 closed

[2017-11-09 07:00] #297 closed

[2017-11-09 07:01] #304 closed

[2017-11-09 07:06] #320 closed

[2017-11-09 07:14] pjotrp commented on #286
May reopen later.

[2017-11-09 07:14] #286 closed

[2017-11-10 23:57] carsonhh opened #323 "Sambamba view is dropping reads when you specify a region"
sambamba 0.6.6

Sambamba view is dropping reads when you specify a region.

I have attached an example BAM that replicates the issue (it is gzipped to get GIT to allow me to attach it to the issue). The BAM contains only reads aligned to phix.

If you run sambamba view on the whole file, you get all reads back.

68213

But if you specify the region as part of the view command, it loses reads that

[2017-11-12 03:25] AndreaHobby commented on #200
I followed the instructions above and I still can't run sambamba.
1. I cloned the sambamba repo from GitHub.
2. I used the sudo apt get install command to install the ldc. I am using Ubuntu/Linux.
3.  I used the wget command to get the ldc from GitHub.
4.  I used the tar command to extract the ldc tar file.
5. I updated the Path and Library Path to where the bin and library are located on my compu

[2017-11-12 07:40] pjotrp commented on #200
Please read https://github.com/biod/sambamba#getting-help

I suggest trying the latest prerelease binary https://github.com/biod/sambamba#binary-installation

[2017-11-12 07:49] pjotrp commented on #258
@eddiebroad would you mind signing up to the mailing list so we can discuss the future? https://groups.google.com/forum/#!forum/sambamba-discussion

[2017-11-12 07:51] pjotrp commented on #143
@rernst  would you mind signing up to the mailing list so we can discuss the future? https://groups.google.com/forum/#!forum/sambamba-discussion

[2017-11-12 07:51] pjotrp commented on #302
@RichardCorbett  would you mind signing up to the mailing list so we can discuss the future? https://groups.google.com/forum/#!forum/sambamba-discussion

[2017-11-12 07:53] pjotrp commented on #185
@isthisthat do you mind signing up the mailing list so we can discuss the future of sambamba?

[2017-11-12 07:55] pjotrp commented on #48
@tseemann do you mind signing up on the mailing list so we can discuss the future of sambamba?
https://groups.google.com/forum/#!forum/sambamba-discussion

[2017-11-12 10:17] isthisthat commented on #185
@pjotrp where do I sign up?

[2017-11-12 10:40] pjotrp commented on #185
https://groups.google.com/forum/#!forum/sambamba-discussion

[2017-11-12 21:47] AndreaHobby commented on #200
I installed the binary file.
I got through these steps.
wget tarball.tar.bz2
mkdir ~/tmp
tar xvjf tarball.tar.bz2
./install.sh ~/sambamba-test

Now, I am trying to complete this step. However, it says there is no such file or directory. I looked and I see no bin folder inside of my  sambamba-test test folder. Where can I find the bin folder that is supposed to be here?
~/sambamba-test/bin/sambamba

[2017-11-12 21:59] pjotrp commented on #200
Please ask this question on the mailing list - as per 'getting help'. The issue tracker is for development purposes.

[2017-11-12 22:07] pjotrp commented on #200
Just to quickly answer: you need to replace tarball.tar.bz2 with the name of the file to download (use the link). But please take it to the mailing list. That is why it exists :)

[2017-11-23 06:37] pjotrp commented on #309
Marked for later.

[2017-11-23 06:37] #309 closed

[2017-11-23 06:38] pjotrp commented on #308
Maybe related to https://github.com/biod/sambamba/issues/311

[2017-11-23 06:38] pjotrp commented on #323
Maybe related to https://github.com/biod/sambamba/issues/311

[2017-11-23 06:39] pjotrp commented on #321
delegated to later.

[2017-11-23 06:39] #321 closed

[2017-11-23 06:39] pjotrp commented on #318
Delegated to later.

[2017-11-23 06:39] #318 closed

[2017-11-23 06:40] pjotrp commented on #315
Delegated to later. Note use of sambamba mpileup is no longer recommended.

[2017-11-23 06:40] #315 closed

[2017-11-23 06:44] pjotrp commented on #322
For now, the easy fix is to use samtools. I'll add this to a milestone.

[2017-11-23 06:46] #313 closed

[2017-11-23 06:47] #306 closed

[2017-11-23 06:47] #303 closed

[2017-11-24 11:48] cbrueffer opened #324 "OSX binaries for 0.6.7 release"
Currently there are no OSX binaries as for the other releases, would it be possible to add one?

Thanks for sambamba, works great!

[2017-11-24 20:04] pjotrp commented on #324
Please only report bugs here. Sign up on the mailing list https://groups.google.com/forum/#!forum/sambamba-discussion

[2017-11-24 20:04] #324 closed

[2017-11-27 05:03] annaquaglieri16 commented on #79
Hi there,

I can the same error when running:

sambamba markdup ${bamRG} ${bamDupl} -t 5 --show-progress

What was the solution to the problem previously?

Thanks,

Anna

[2017-11-27 06:05] pjotrp commented on #79
Please address the mailing list first. Add what version of sambamba you are using. See https://github.com/biod/sambamba#reporting-a-sambamba-bug-or-issue

[2017-11-27 21:38] annaquaglieri16 commented on #79
Thanks for your answer! It is actually my fault, our servers had some faults and my bamfiles were corrupted at the end. Sorry for this and thanks for your time!

Anna

[2017-11-28 04:23] pjotrp commented on #79
We'll improve on that error message. Thanks for reporting back :)

[2017-11-28 22:55] RichardCorbett opened #325 "Optical duplicate calculation during markdup"
Hi all,

Using the HiSeqX sequencer we occasionally observe a peak in duplicate rates that can be attributed to fragments being amplified across adjacent wells on the flowcell.    To assess the rate at which this happens we use the Picard MarkDuplicates command while supplying the following extra parameters to allow Picard to parse our read names...

...OPTICAL_DUPLICATE_PIXEL_DISTANCE=2500 READ_N

[2017-11-29 02:50] wangshun1121 opened #326 "Mark Duplicate for Scaffolds"
I am trying to call SNPs of [Phyllostachys heterocycla](http://202.127.18.221/bamboo), whose genome was assembled to Scaffold level. I mapped reads with bwa men and sorted and indexed bamfiles, then I tried to use sambamba to mark duplicate reads, and I received errors below:

[code]

is there any suggestions for this?

sambamba v0.5.9

[2017-11-29 06:17] pjotrp commented on #326
Please use the mailing list https://github.com/biod/sambamba#getting-help

[2017-11-29 06:17] #326 closed

[2017-11-29 17:18] cshneider opened #327 "Sambamba view -F missing '*' character"
Dear sambamba developers,

Am using sambamba 0.6.6.
Am trying sambamba view -F "cigar != '\*'" file.bam but cigar strings equal to '*' still make it past this filter. I've tried various ways to pick up the '*':

sambamba view -F "cigar != '\*'" file.bam
sambamba view -F "cigar == '*'" file.bam
sambamba view -F "cigar != '\\*'" file.bam
sambamba view -F "cigar =~ /^\*/" file.bam

but these haven't

[2017-12-06 12:49] hzpc-joostk opened #328 "Debug version: SAM output of CRAM file is populated with debug on pipe"
The SAM output of a CRAM file is unintentionally populated with debug lines.

* version of sambamba

[code]
* version of samtools that did bam2cram

[code]

System version:
[code]
[code]

* the command line or bash script used (feel free to shorten paths and filenames)

[code]
[code]

[code]
Would return SAM format on stdout:

1. the header
2. debug lines

[code]

3. alignments

Looking at stderr:

[2017-12-06 15:31] pjotrp commented on #328
I suppose debug output should be on stderr

[2017-12-06 15:47] hzpc-joostk commented on #328
That is what I would expect. These debug lines are output on stdout:

[code]

System version:
[code]
[code]

[2017-12-07 06:39] pjotrp commented on #328
Oh, I see. If you use the real release of sambamba debug info should be off. I'll fix this at some point. If you want to use the debug version (nevertheless) don't pipe the output. Write it to a file.

[2017-12-07 06:42] pjotrp commented on #281
Released.

[2017-12-07 06:42] #281 closed

[2017-12-13 08:38] najoshi opened #329 "undefined reference when trying to make sambamba"
I'm getting an error when making sambamba:

gcc -Wl,--gc-sections -o build/sambamba build/sambamba.o -Lhtslib -Llz4/lib -Wl,-Bstatic -lhts -llz4 -Wl,-Bdynamic -lphobos2-ldc -ldruntime-ldc  -lrt -lpthread -lm -ldl
build/sambamba.o: In function `_D6undead6stream6Stream16doFormatCallbackMFwZv':
/data/src/joshi/sambamba-0.6.7/undeaD/src/undead/stream.d:1217: undefined reference to `_D6undead3utf6toUTF

[2017-12-14 06:50] #329 closed

[2017-12-14 11:29] ATpoint opened #330 "Markdup v0.6.6 Quits without error"
sambamba markdup -r -t 7 -p -l 5 --tmpdir=./ --hash-table-size=1000000 --overflow-list-size=1000000 --sort-buffer-size=8000 --io-buffer-size=8000 in.bam out.bam
finding positions of the duplicate reads in the file...
[=============================]
  sorted 150414610 end pairs
     and 1969522 single ends (among them 0 unmatched pairs)
  collecting indices of duplicate reads...   done in 46008 ms

[2017-12-16 14:38] pjotrp commented on #330
Not sure. Can you give me something I can replicate?

[2018-01-02 16:14] pjotrp opened #331 "segmentation fault attempting to view header in json format"
@jrandall reports:

I have been getting a segmentation fault when attempting to use sambamba view to get the header of a BAM (or SAM) in JSON format. Getting the header in `sam` or `msgpack` format appears to work, but json format causes a segfault for most versions I've tried.

I initially tried using the guix package on my own data (running inside a docker container produced using `guix pack -f

[2018-01-02 17:38] pjotrp commented on #330
https://github.com/biod/sambamba#getting-help

[2018-01-02 17:38] #330 closed

[2018-01-08 11:19] shreyashruti opened #332 "Error with make sambamba-ldmd2-64 command?"
$make sambamba-ldmd2-64

I installed ldc latest version. still the error

[2018-01-15 17:02] bwlang opened #333 "Feature Request - file of file name for inputs for programs that take multiple inputs"
use case:
hundreds of small bam files to merge, each in a deep path =  command string is too long to execute

[code]

[2018-01-17 14:51] isthisthat commented on #189
this is still an issue for us, causing a lot of seemingly stochastic failures, so hard to pin down. Samtools has recently introduced a markdup sub-comand so we've switched to that.

[2018-01-17 15:52] pjotrp commented on #189
Thanks for reporting. Reopened because I am rewriting markdup combined with subsampling.

[2018-01-17 16:41] isthisthat commented on #189
that would be ideal!!!

[2018-01-20 11:42] pjotrp commented on #331
@jrandall is it working for you?

[2018-01-20 11:43] pjotrp commented on #333
More of an OS issue ;). But yes, it is a good suggestion.

[2018-01-20 11:46] pjotrp opened #334 "Add subsampling support"

[2018-01-22 10:07] pjotrp commented on #219
https://blog.cloudflare.com/however-improbable-the-story-of-a-processor-bug/

led us to suspect the problem is an Intel bug:

On Mon, Jan 22, 2018 at 11:39:39AM +1100, Oliver Hofmann wrote:

That processor is listed as having this problem. I think we have found
it! It is called BDF76 An Intel® Hyper-Threading Technology Enabled
Processor May Exhibit Internal Parity Errors or Unpredictable System
B

[2018-01-22 10:10] pjotrp opened #335 "Intel Xeon bug may segfault Sambamba"
See #219

It is called BDF76 An Intel® Hyper-Threading Technology Enabled
Processor May Exhibit Internal Parity Errors or Unpredictable System
Behavior”. The symptoms described for this issue are very broad
(“unpredictable system behavior may occur”), but what we were
observing seemed to match the description of this issue better than
any other.

A microcode update is available. Also switching off

[2018-02-01 08:41] hzpc-joostk commented on #280
Sambamba v6.6.7 `view` command doesn't raise an error when reading CRAM files created by HTSlib v1.6 (`samtools view`), but outputs verbose debug messages on **both** `stdout` and `stderr`. See also #328.
Moreover, many other commands still raise an error:
`Error reading BGZF block starting from offset 0: wrong BGZF magic`

[code]

All in all pretty useless... :-( Too bad, because I really like sa

[2018-02-01 16:41] pjotrp commented on #280
We need to look into this, that is why the issue is open ;). The first step would be to upgrade htslib and the build tools to latest. I'll ping you here when I get round to it. I hope early spring.

[2018-02-01 21:05] stephenwilliams22 opened #336 "Index documentation incorrect"
Hi,
Just wanted to let you know that your github documentation about number of threads for indexing is incorrect

SYNOPSIS
sambamba index [-p|--show-progress] [-n|--threads=NTHREADS] <input.bam> [<output.bai>]

should be

SYNOPSIS
sambamba index [-p|--show-progress] [-t|--nthreads=NTHREADS] <input.bam> [<output.bai>]

--stephen

[2018-02-02 08:26] mschilli87 commented on #336
@stephenwilliams22: Could you provide a link to the page containing the wrong SYNOPSIS?

[2018-02-02 09:06] sambrightman commented on #336
https://www.google.com/search?q=sambamba+index&btnI=I

[2018-02-02 11:15] mschilli87 commented on #336
direct link: http://lomereiter.github.io/sambamba/docs/sambamba-index.html

[2018-02-02 14:32] stephenwilliams22 commented on #336
That’s the one. Thanks for correcting.

[2018-02-05 16:24] pjotrp opened #338 "Make no longer builds for macos"
Someone wants to fix that? Makefile.old should be close to working.

[2018-02-05 16:47] pjotrp commented on #332
I have update the instructions. Please try again. See https://groups.google.com/forum/#!topic/sambamba-discussion/V_jQjdjL1gY

[2018-02-05 16:49] #336 closed

[2018-02-06 06:34] AMChalkie opened #339 "Clean up error message for sambamba-sort: couldn't parse (Allow memory command line option to be case independent.)"
Great software, minor comment:

Allow memory command line option to be case independent.
More useful error message "couldn't parse command line option: 28g"

sambamba sort -t 32 -m 28g -o Aligned.out.srt.bam Aligned.out.bam
sambamba-sort: couldn't parse
sambamba sort -t 32 -m 28G -o Aligned.out.srt.bam Aligned.out.bam
this works fine.

[2018-02-07 10:31] #332 closed

[2018-02-07 10:34] pjotrp commented on #283
https://github.com/biod/sambamba/blob/master/test/benchmark/stats.org

[2018-02-07 10:35] #331 closed

[2018-02-07 10:35] pjotrp commented on #339
Noted.

[2018-02-07 10:35] #339 closed

[2018-02-07 17:10] pjotrp commented on #329
See I have update the instructions. Please try again. See https://groups.google.com/forum/#!topic/sambamba-discussion/V_jQjdjL1gY

[2018-02-07 17:35] pjotrp commented on #335
As this is an intel bug without a fix in llvm or gcc I'll close it. It is here for reference.

[2018-02-07 17:35] #335 closed

[2018-02-07 17:37] pjotrp commented on #219
We had two bugs. One is fixed in ldc https://github.com/dlang/druntime/pull/1655. The other is an unfixable intel xeon bug, see #335 for more information.

[2018-02-07 17:37] #219 closed

[2018-02-07 23:36] hzpc-joostk opened #340 "Assertion failure in `sambamba depth`"
Running the `depth` commands on BAM raise an Assertion failure:

(shell = Zsh)

[code]

[code]

I found the read alignments that caused the trouble:

[code]

How can we solve this?

It seems that the third (supplementary) alignment, overlaps both primary mates. So I could workaround by `-F 'not supplementary'`. But is that really the way I should solve this?

[2018-02-08 08:24] pjotrp commented on #340
The assertion at https://github.com/biod/sambamba/blob/master/sambamba/depth.d#L359 makes sure there is no conflict. For these rare cases we should actually emit a warning. If you run the latest release there should be no assertions compiled in, but I'll test for that.

[2018-02-08 08:29] #328 closed

[2018-02-08 08:33] pjotrp commented on #189
@isthisthat can you tell me what CPU markdup is crashing on? Is it a Xeon 26xx series?

[2018-02-08 08:49] hzpc-joostk commented on #340
If you'd like data to test with, let me know. Cheers!

[2018-02-08 09:33] blmoore commented on #189
Hi @pjotrp (I've been looking at this with @isthisthat) — yes (via c4 AWS EC2 instances). Just to clarify: not crashing but deadlocking indefinitely

[2018-02-08 10:16] pjotrp commented on #189
These are Intel Xeon E5-2666 v3 and should not suffer from the particular hardware bug we encountered in #335. It is interesting it only appears on KVM instances (reported above). I think we ought to try a new release that will come out in the coming days because it uses latest LDC and LLVM. If that does not fix it we can consider replacing the reader - which appears to have the deadlock. I have w

[2018-02-12 04:09] lituan opened #341 "add feature "markdup support multiple input bams and argument file""
Hi,

smabamba is really fast doing markdup, yet it cannot support multiple input bams, which picard can.

we usually split multiple fq into small chunks, then align, then merge, then markdup.

with picard, we can do split, align, markdup, excluding merge step

so, if sambamba can support multiple input bams in markdup, it will help a lot

[2018-02-12 06:50] pjotrp commented on #341
Good idea.

[2018-02-22 17:27] jflucier opened #342 "line 11: 27182 Floating point exception(core dumped)"
Hi

just to warn you that latest conda version of sambamba (0.6.6) produde the error mentionned in title when i call using this command:

`
sambamba flagstat -t 1 test.bam > test.flagstat.qc
`

I have tested all version > 0.6.3 and they all produce this error. Downgrading to version 0.6.3 worked perfectly

tks

JF

[2018-03-13 09:28] whiteorchid opened #343 "how to reduce the bam file to different multiplier(5X,10X,15X......)"
The synthetic tumor BAM file was then downsampled into a range of sequencing depths. With the help of sambamba through the Swiss Army Knife application, these files were reduced to 5X, 10X, 15X, 20X, 30X, 40X, 50X, 60X, 90X, and 120X coverage files. [https://blog.dnanexus.com/tag/somatic-variant-calling/](url)

Hi,
I have seen that the bam file can be reduced to variable multiplier(5,10,15....) us

[2018-03-21 07:45] LocutusOfBorg commented on #300
Hello, the fix in 0583f49 regressed i386 builds, the assert 36u == 40u is now false there... any idea?

[2018-03-21 10:31] pjotrp commented on #300
Interesting find. Looks like something is doing the wrong thing here. Are you building the latest release?

[2018-03-21 11:08] LocutusOfBorg commented on #300
yes, 0.6.7 version here
https://packages.qa.debian.org/s/sambamba.html
https://buildd.debian.org/status/fetch.php?pkg=sambamba&arch=i386&ver=0.6.7-1&stamp=1521544853&raw=0

[2018-03-21 11:20] tillea opened #344 "Version 0.6.7 fails to build on i386 but version 0.6.6 has build successfully"
Hi,
after uploading version 0.6.7 to Debian a  [bug report](https://bugs.debian.org/893664) was filed that the package does not build on i386 architecture.  [Here](https://buildd.debian.org/status/fetch.php?pkg=sambamba&arch=i386&ver=0.6.7-1&stamp=1521544853&raw=0) you can see a full build log and this is the problematic part:

        cd obj-i686-linux-gnu && LC_ALL=C.UTF-8 ninja -j4 -v
    [1/74

[2018-03-21 11:56] LocutusOfBorg commented on #300
in the meanwhile @tillea opened a new ticket #344, so better followup there

[2018-03-21 11:57] pjotrp commented on #344
Thanks @tillea, will do soon.

[2018-03-21 11:57] LocutusOfBorg commented on #344
For sake of completeness, I already did report and some additional posts are available on #300.
Anyhow, somewhere the "uint" is not properly being fixed size, I tried both uint32_t and uint64_t but I failed so far

[2018-03-21 11:58] LocutusOfBorg commented on #344
regression is in commit
https://github.com/biod/sambamba/commit/0583f4940a81166d856b5537a920d12113c86530

[2018-03-27 03:38] carsonhh opened #345 "sambamba index 0.6.7 takes 4x longer than 0.6.6 on the same files"
Simple command --> sambamba index -t 20 any_large_file.bam

0.6.7 rarely uses more than 5 threads under top while 0.6.6 uses all 20 I gave it.

Test on 105GB bam file using 20 threads.
0.6.6 --> 3m35.989s
0.6.7 --> 12m44.751s

I see the same pattern on all files on multiple machines (both AMD and Intel).

[2018-03-27 09:00] pjotrp commented on #345
Can you try http://files.genenetwork.org/software/contrib/sambamba-0.6.8-pre1 instead and report the result?

3d6a286947daebb44ac87b4ff2f16c66  sambamba-0.6.8-pre1

[2018-03-28 22:53] carsonhh commented on #345
sambamba-0.6.8-pre1 is performing better.

0.6.8-pre1 --> 3m13.100s
0.6.6 --> 3m45.064s

[2018-03-29 05:28] pjotrp commented on #345
Thanks for trying. Yes, it is a compilation thing. The new Dlang+LLVM is faster.

[2018-03-29 05:28] #345 closed

[2018-04-01 12:54] gskrasnov opened #346 "sambamba (release 0.6.7) had abnormally finished with error code 35584"
Dear Authors,

sambamba (release 0.6.7) had abnormally finished with error code 35584
I tried to sort my BAM file (available [here](http://194.226.21.15/temp/MME03.sn.bam)) and got `segmentation fault` error.

However, sambamba has produced normally sorted final BAM file (available [here](http://194.226.21.15/temp/MME03.bam)) + index *.bai

command line:
```/sambamba_v0.6.7 sort --memory-limit 120

[2018-04-02 14:20] pjotrp commented on #346
On running latest I get no errors:

[code]

Are you running on a Xeon E5 per chance? See #335

[2018-04-02 14:22] pjotrp commented on #346
DL http://files.genenetwork.org/software/contrib/sambamba-0.6.8-pre1

[2018-04-02 14:51] gskrasnov commented on #346
Thank you, Pjotrp!

No, I'm running sambamba on Xeon E7- 8837 @8 threads

I tried the updated 0.6.8-pre1 and everything went fine.

[2018-04-02 14:51] #346 closed

[2018-04-06 14:09] rekado commented on #320
Unfortunately, I get the same error when building version 0.6.7 with Guix.

I'm using ldc 1.7.0.

[2018-04-06 15:06] rekado commented on #320
It is fine with version 0.6.7-10-g223fa20 (i.e. current version from git), after minor changes to the linkage options.  Version 0.6.7 does not seem to build as is.

[2018-04-06 15:31] pjotrp commented on #320
The package I use is in https://gitlab.com/genenetwork/guix-bioinformatics/blob/master/gn/packages/sambamba.scm

[2018-04-06 18:32] rekado commented on #320
Ours is here:
http://git.savannah.gnu.org/cgit/guix.git/tree/gnu/packages/bioinformatics.scm#n10999

[2018-04-07 06:25] pjotrp commented on #320
Hi @rekado. Both definitions are comparable. I have a test/check target and I enforce samtools to be a dependency (sambamba calls samtools and bcftools for parallel pileup, though arguably that functionality is considered obsolete). Also I don't rebuild lz4. Those are the differences. In the future I hope to use standard htslib and turn BioD in to a shared library. But I am too busy for now... I'l

[2018-04-07 07:12] pjotrp commented on #320
Ah yes, mine also does a parallel build.

[2018-04-07 09:47] rekado commented on #320
We also don't rebuild lz4; we simply link with the existing lz4 (dynamically).

What is the purpose of the Makefile.guix?  I still needed to patch it, so I ended up not using it at all.  For your recipe you could use `#:make-flags '("-f" "Makefile.guix")` instead of having to replace the `'build` phase completely.

[2018-04-07 10:53] pjotrp commented on #320
Makefile.guix is what I use. It is aimed at Guix and less generic. And yes, sure, make-flags is a nice improvement.

[2018-04-11 08:52] isthisthat commented on #343
I don't think `sambamba slice` is the right tool for this. We use `sambamba view -s <fraction>`. For instance if your current coverage is 100x and you want to sub-sample to 15x, you would specify `-s 0.15`, and so on. You would then need to re-mark duplicates in the downsampled bam: `sambamba markdup downsampled.bam dupmarked.bam`. This would give you an unbiased 15% sample of your original bam.

[2018-04-11 19:24] sjackman opened #347 "Error: template std.utf.toUTF8 cannot deduce function from argument types"
[code]
For the complete build log see https://circleci.com/gh/brewsci/homebrew-bio/1985

[2018-04-11 20:07] hirokomatsui opened #348 "ref_id in filtering expression"
What id the ref_id in the filtering expression?

[2018-04-13 12:42] bwlang commented on #341
would also be really nice to include an option to pass a file of filenames when paths are long or there are many bams.
Possibly related... adding a --sample #number_of_reads option to markdup would allow skipping another file (it would need to apply the sampling logic before dup logic to avoid reads marked dup in the output but the original read being filtered out)

[2018-04-16 18:32] yuankunzhu opened #349 "Is sambamba-markdup library aware?"
Wondering if `markdup` handles BAM with multiple lanes/libraries in a similar way as `Picard MarkDuplicats`, where only reads from the same `@RG LB` will be taken into account for duplicates marking?
https://gatkforums.broadinstitute.org/gatk/discussion/6199/picard-mark-duplicates-handling-of-library-information

[2018-04-18 09:59] LocutusOfBorg commented on #344
I think I'll upload the assert disabled for now in Debian, to make it build again :).
From my perspective, it makes things no worse, since this was a bug also in previous release, just hidden by the missing assert

[2018-04-18 11:12] tillea commented on #344
On Wed, Apr 18, 2018 at 02:59:14AM -0700, Gianfranco Costamagna wrote:

Fine for me.  Thanks for caring, Andreas.

[2018-04-19 08:03] pjotrp commented on #344
Thanks. I'll look into the problem when I have time again. I looked into it quickly, but I am not sure whether the old assert or the new assert is actually the bug. Sorry about that.

[2018-04-20 07:49] lomereiter commented on #344
FWIW, I almost never cared about i386 architecture, as it's very tough to process data being limited by 4GB.

[2018-04-20 08:01] tillea commented on #344
On Fri, Apr 20, 2018 at 12:49:16AM -0700, Artem Tarasov wrote:

Fair enough.  However, there is a difference between the statement "I almost never cared about i386" in a random issue or whether you write into your docs: "sambamba supports 64 bit architectures only".  In the latter case we could restrict the build of the according Debian package technically to 64 bit architectures only.  In the for

[2018-04-21 05:55] pjotrp commented on #344
I agree we should support i386. Not so much because I care about the target (few people will use i386), but because it brings out architecture assumptions. The number of processors is going up, rather than down, in the coming years. Good software will allow for that. Above assertion failure points out something changes on different targets (in this case the target is not that different, really, it

[2018-05-02 20:07] sjackman commented on #347
Any thoughts on this build error?

[2018-05-06 08:08] pjotrp commented on #347
You need to use a version of unDead that has this commit: 3637713e17ddc581b92fdcc9dabbecc25790c023

[2018-05-12 06:59] pjotrp commented on #322
Thanks @jfarek!

[2018-05-12 06:59] #322 closed

[2018-05-17 03:19] nathanhaigh opened #350 "Not recognising bcftools version >=1.5"
Since BCFtools 1.4.1 releases have been using a 2 digits for their versions (i.e. 1.5, 1.6, 1.7 and 1.8). As such, the code in Sambamba nolonger recognises the version string generated by BCFtools.

Unless Sambamba doesn't support BCFtools > 1.4.1 I think the offending line is:
https://github.com/biod/sambamba/blob/cbae92752472d89a53e407cb198e4485d8fe8a4b/sambamba/pileup.d#L109

I would suggest a

[2018-05-17 04:15] nathanhaigh commented on #350
This affects Sambamba v >0.6.5.

Commit https://github.com/biod/sambamba/commit/2d02baf055029ea3214f5d4fbef606b44e877fdd actually changed the version detection from the "samtools-like" version detection. Perhaps a better way is to just may the "patch" number optional in the regex.

A minimal change might

[2018-05-17 14:04] pjotrp commented on #350
Good find. Will fix.

[2018-05-20 01:37] FrankFeng opened #351 "sambamba-markdup for supplementary alignments"
Can sambamba-markdup mark supplementary alignments of reads where the primary alignment is found to be a duplicate?

Thanks.

[2018-05-20 13:33] pjotrp commented on #351
I don't think so. Use the mailing list for these questions.

[2018-05-20 13:33] #351 closed

[2018-06-04 15:53] hassanfa commented on #311
I have encountered a similar problem. It seems it has something to do with sorting of bed file. `sort -k1,1 -k2,2n -k3,3n bed.file` prior to feeding it into sambamba, solved the issue for me. Or at least for the bed file I am using.

[2018-06-29 21:50] RichardCorbett opened #353 "view error while filtering 10X BAM file on [CB] tag"
Hey there.

This probably isn't a bug, but rather confused user error.

I'm trying to filter a 10X generated BAM file based on the value of a tag.  I can use this version of sambamba to do all the usual operations on this BAM file so there appears to only be a problem when I try this one task.

My command:
/home/rcorbett/bin/sambamba_v0.6.6 view -f bam -F "[CB]==TTTGCATGTAACGC-1" myBam.bam > newBa

[2018-07-03 09:03] pjotrp commented on #353
Thanks, I'll take a look later.

[2018-07-12 08:38] pjotrp opened #355 "Upgrade htslib"
It would be good to update to the latest, not least for #280 and current bioconda packaging attempts

[2018-07-20 18:18] Kurt-Hetrick opened #356 "sort removing tags from @RG header"
Hello, when using sambamba sort on a bam file, i am finding that the PM tag for the RG header is being stripped out. I am using sambamba 0.6.7

bam file (brief particulars are that file is created with bwa mem 0.7.15 | samblaster | picard AddOrReplaceReadGroups | picard markduplicates {from querysort, v 2.17.0}) before sambamba sort

samtools view -H foo.dup.bam | grep ^@RG
@RG     ID:foo  LB:foo

[2018-07-24 16:56] pjotrp commented on #356
Thanks for the report. I'll check it.

[2018-07-27 14:39] pjotrp commented on #355
@brainstorm adding you to the participants.

[2018-07-28 02:39] pjotrp opened #357 "BAM output header contains sambamba version info"
This is not a great idea for reproducibility.

[2018-07-28 02:49] pjotrp opened #358 "Travis build is failing"

[2018-07-28 03:10] #357 closed

[2018-07-29 12:53] pjotrp commented on #277
Getting close to a new release.

[2018-08-02 01:06] brainstorm commented on #338
The current `Makefile` works/compiles well on my machine at the time of writing this. OSX High Sierra 10.13.

[2018-08-03 03:15] brainstorm commented on #338
... assuming `ldc` is installed (in my case via conda-forge) ;)

[2018-08-12 23:02] SergejN opened #359 "Signed/Unsigned"
Dear sambamba maintainers,

I'm afraid the software handles the coordinates larger than 2^31-1 incorrectly.

original SAM file:
D00689:262:CAUR4ANXX:1:1106:1494:1994/1       0       chr2    2551346395      42      88M

sambamba view output:
D00689:262:CAUR4ANXX:1:1106:1494:1994/1       0       chr2    -1743620901     42      88M

Is there an easy fix for this issue?

thanks a lot!
Sergej

[2018-08-13 06:44] pjotrp commented on #359
Interesting find. @SergejN do you mind pasting a few of those lines fully here? What species is that? I need to check BAM also supports that size. It should.

[2018-08-13 18:14] SergejN commented on #359
Hi Pjotr,

yes, sure.
It's the Mexican axolotl (Ambystoma mexicanum). It's genome is 10 times larger than that of a human and split into 14 chromosomes. We are trying to generate chromosome-size scaffolds.
Below are a few lines from a SAM file including the header. As far as I know, BAM can't handle sequences longer than 2^31-1 (https://sourceforge.net/p/samtools/mailman/message/28141607/), theref

[2018-08-14 06:45] pjotrp commented on #359
That is interesting. We should also check CRAM. If they are also limiting size to 31 bits we ought to raise an issue with samtools. But, yes, there is no reason SAM can not store longer sizes.

[2018-08-15 12:50] hassanfa opened #360 "sambamba depth with fix-mate-overlaps results in possible overflow"
Sambamba version: 0.6.6
command line:
[code]

For one particular exon, `sambamba depth region` is reporting wrong number of reads (4294967260 vs actual 262) which seems to be an overflow error (?).

[code]
Removing `--fix-mate-overlaps` fixes the issue and the correct number of reads are reported:

[code]

[2018-08-15 18:14] pjotrp commented on #360
@hassanfa good catch. Do you mind sending me a sample file so I can reproduce the bug.

[2018-08-16 11:57] hassanfa commented on #360
Sure thing. I can email you a sample file if you don't mind. ( BAM for the METTL22 gene region).

[2018-08-16 16:27] pjotrp commented on #360
Thank you. Much appreciated.

[2018-08-27 22:18] SergejN commented on #359
Hi Pjotr,
I was just wondering if there is any news or updates..
Thanks!

[2018-08-28 12:51] dpryan79 commented on #349
Isn't the library ID taken into account in the comparison? For example the library IDs would be part of the comparison here: https://github.com/biod/sambamba/blob/master/sambamba/markdup.d#L764

[2018-08-29 09:47] pjotrp commented on #359
I still need to look at it. Little bit stretched. If you want to have a go fixing that could work too.

[2018-08-29 09:52] pjotrp commented on #359
@SergejN if I can be a co-author I can prioritize. Your project sounds interesting. Even so, it may be a bit tricky depending on what you want to do. E.g. do you want to sort reads? Or is it just view?

[2018-08-29 10:00] SergejN commented on #359
Hi Pjotr,

As of now, I’ve implemented our own “samtools view/sort” replacement in Java. However, it only supports SAM file. This is sufficient to far, although not quite compliant with the SAM format.

BAM is much trickier, since they use int32_t as the type, which must be replaced by LONG and this, in turn, will screw up the whole BAM format. I am not sure I have the time to do that.

Von: Pjotr

[2018-08-29 10:03] pjotrp commented on #359
OK, I hope you understand that it is not a priority at this point. I'll spend some time at possibilities - see if there is an easy fix. D may do better here than samtools' C++.

[2018-08-29 10:03] SergejN commented on #359
I know though that quite some other groups working with large genomes run into similar limitations of the existing tools. Therefore, at some point we want to raise awareness of the limitations of the software in the field.

[2018-08-29 10:04] SergejN commented on #359
Yes, definitely. No problem, sorry if I made an impression I’m pushing. As I said, I was able to solve the issue in our particular case, but there are others that have similar problems. So, I was just curious in the interest of the community.

[2018-08-29 10:15] pjotrp commented on #359
No problem. It is on record now :)

[2018-08-29 18:54] tillea opened #362 "Error: read-modify-write operations are not allowed for `shared` variables."
Hi
the build of the Debian package of sambamba (version 0.6.7) fails since some time which is documented in the according [bug report](https://bugs.debian.org/907489).  There is the suspicion that the transition of the D compiler has uncovered this error:

    [5/74] ldc2 -Isambamba@exe -I. -I.. -I/usr/include/d -enable-color -O -g -release -wi   -of 'sambamba@exe/sambamba_merge.d.o' -c ../sambamb

[2018-08-30 05:16] pjotrp commented on #362
I think was fixed in cb170d641c21f5aabeb04cedab3ced5b7262d007

[2018-08-30 05:17] pjotrp commented on #362
New release is coming soon.

[2018-08-30 05:17] #362 closed

[2018-08-30 05:52] tillea commented on #362
On Wed, Aug 29, 2018 at 10:16:29PM -0700, Pjotr Prins wrote:

Thanks a lot, Andreas.

[2018-08-31 04:08] sjackman opened #363 "Error: Implicit string concatenation is deprecated"
I see the following error when compiling Sambamba 0.6.6 with LDC 1.10.0.
[code]
See https://circleci.com/gh/brewsci/homebrew-bio/3878
and https://github.com/brewsci/homebrew-bio/pull/405

[2018-09-03 05:50] pjotrp commented on #363
Thanks. Should not be hard to fix ;)

[2018-09-04 12:10] hassanfa opened #364 "Readcount results are shifted for depth calculation when chrom id is not found in bam"
Sambamba version: 0.6.6
command line:
[code]

For one particular exon, `sambamba depth region` is reporting wrong number of reads, which is actually zero. Upon close inspection, I noticed it is because in the first line of chromosome field in bed file is `chrom` and not `7` (chromosome id). I'm not sure if it's a bug, but it seems the behavior is not predictable enough. If you look closely at the

[2018-09-04 12:15] hassanfa commented on #364
I'm aware that this is due to user input error. And the bed file or region is provided by user and it is not sambamba's responsibility to take care of that. However, the readcount shift up due to one wrong input without any error seems a bit misleading for an oblivious user.

[2018-09-04 16:49] sjackman commented on #363
Thanks, Pjotr!

[2018-09-07 09:17] pjotrp commented on #364
Thanks @hassanfa. You are right, we should emit a warning.

[2018-09-07 09:39] pjotrp commented on #364
That would be great. You can start by writing a few unittests. ldc 1.10 should compile. If not I can have a go early next week fixing the build.

[2018-09-09 15:04] pjotrp opened #365 "Check mark duplicates for larger numbers"

[2018-09-10 09:41] pjotrp commented on #342
Can't reproduce the problem. Can you send me that test.bam?

[2018-09-13 15:38] #358 closed

[2018-09-14 10:13] LocutusOfBorg commented on #362
I tried the patch mentioned, with some changes (because it didn't apply on top of 0.6.7), and it failed.

Using 0.6.8-pre available for download fails too
[code]

[2018-09-14 10:26] pjotrp commented on #362
can you show the actual error? It is not the same file Andreas had.

btw the current master was successfully built on Linux with ldc 1.11 - see the travis log. https://travis-ci.org/biod/sambamba

[2018-09-14 10:40] LocutusOfBorg commented on #362
full build log
https://launchpadlibrarian.net/388366053/buildlog_ubuntu-cosmic-amd64.sambamba_0.6.7-2ubuntu2_BUILDING.txt.gz

[2018-09-14 11:05] pjotrp commented on #362
Ah, OK.

       ../sambamba/view.d(40): Error: module `unpack` is in file 'bio2/unpack.d' which cannot be read

is because files got moved around in the biod submodule.

I can put out a 0.6.8 release soon which fixes all that. When do you need it?

[2018-09-14 11:59] tillea commented on #362
On Fri, Sep 14, 2018 at 04:05:30AM -0700, Pjotr Prins wrote:

Good.  I can not name a specific data but it would be nice to have it
sooner.  There are a lot of bugs on my table and getting rid of some of
them would be helpful.

Thanks for the good support of the Debian packaging

       Andreas.

--
http://fam-tille.de

[2018-09-14 15:15] rekado opened #366 "Fails to build: BioD/bio/maf/reader.d(53): Error: cannot implicitly convert expression"
I'm building Sambamba 0.6.7-10-g223fa20 for Guix.  Since upgrades to LLVM and possibly ldc the build now fails with this output:

[code]

Should I be using a different version of the D compiler or LLVM?

[2018-09-15 06:14] pjotrp commented on #366
Thanks @rekado. I am putting out a new release this week which fixes ldc+llvm issues. Much faster too. Also talking with Debian and bioconda in different issues.

[2018-09-20 15:25] TainVelasco-Luquez opened #367 "How to merge temporal files from sort command?"
* Versions
sambamba 0.6.7
samtools 1.9-33-g2d34e15
Using htslib 1.9

* Command
/usr/bin/time -v -o log.time sambamba sort -t 23 -m 2G -l 2 -p star_outputAligned.toTranscriptome.out.bam -o star_outputAligned.toTranscriptome.out.sorted.bam

So this is the story: Running sambamba and samtools sort was generating truncated bam files from the STAR output mapped to transcriptome (file size ~30Gb). So re

[2018-09-21 07:02] pjotrp commented on #367
@TainVelasco-Luquez can you capture the output of stdout and stderr? Looks to me there is an error on the input file.

[2018-09-21 16:15] TainVelasco-Luquez commented on #367
Dear @pjotrp

I finally spot the error. I was connecting the server through ssh, and I haven't realised that every time I closed the ssh connection all my processess were also halted, among those, sambamba's sort. So this generated truncated files without the EOF block.

Now I am safe using tmux.

Sorry for the mistake,

Tain.

[2018-09-21 16:15] #367 closed

[2018-09-25 02:58] feihongloveworld opened #368 "sambamba mpileup with reference"
hi sir：
       i want to use ‘samtools  mpileup -f human_g1k_v37_decoy.fasta -l somatic.snv.vcf.bed final.bam ’；
       which parameter can sent reference fasta to ‘sambamba  mpileup’ ？？
       looking forward to your reply。thank you。

[2018-09-25 16:06] pjotrp commented on #368
Thank you for using Sambamba.

For non-development questions please use our [mailing list](https://groups.google.com/forum/#!forum/-discussion).

For the use of this issue tracker see also our [README](https://github.com/biod/sambamba#getting-help).

[2018-09-26 23:53] sjackman commented on #363
Do you expect 0.6.8 to fix this issue?

[2018-09-27 04:31] pjotrp commented on #363
Yes. You can check out git master to test.

[2018-09-27 05:50] sjackman commented on #363
Thanks!

[2018-09-28 13:45] rekado commented on #366
Should I be using 0.6.8-pre3 at this point?

Or is there something else I can do to fix the build?  Older version of ldc, maybe?

[2018-09-28 14:17] pjotrp commented on #366
Master branch should be fine. I am going to do a release real soon. Just got caught up in chasing gemma bugs.

[2018-10-02 00:21] TimurIs opened #369 "Feature request - add option to sort by query name like Picard"
Hi,

I think it could be a good thing to make sambamba query-name sort be compatible with other Picard tools. I wrote a quick implementation of this in BioD/bio/bam/reader.d (based on https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/samtools/SAMRecordQueryNameComparator.java)

[code]

But I'm very new to the field of bioinformatics and I'm using the D language for the first time

[2018-10-03 05:43] #365 closed

[2018-10-03 06:45] #356 closed

[2018-10-03 07:00] pjotrp commented on #369
Hi @TimurIs. I think you can make a PR no problem. I'll take a look at it when you do. You should be able to compile it and do a quick test run.

Thanks.

[2018-10-03 07:00] #368 closed

[2018-10-04 06:45] pjotrp commented on #366
I updated BioD and released a new sambamba. https://github.com/biod/sambamba/releases/tag/v0.6.8

[2018-10-04 06:45] #366 closed

[2018-10-04 06:47] pjotrp commented on #347
Should be in the new releases. https://github.com/biod/sambamba/releases/tag/v0.6.8

[2018-10-04 06:47] #347 closed

[2018-10-04 06:59] #283 closed

[2018-10-04 07:00] #342 closed

[2018-10-04 07:00] #348 closed

[2018-10-04 17:54] sjackman commented on #347
Excellent! Thanks, Pjotr! I've opened PR https://github.com/brewsci/homebrew-bio/pull/405 to update the formula in Brewsci/bio for Homebrew and Linuxbrew.

[2018-10-11 17:30] stevekm commented on #186
I am getting the same error on my system using `sambamba flagstat`. We have SLURM installed. When I submit the command under a compute job, it goes straight to the "segmentation fault" error with an error code of 139. If I run it interactively on the head no (no job submission), the command actually gives the exepected output; *then* gives a seg fault:
[code]

I saw some mentioning of "stack size"

[2018-10-12 06:31] pjotrp commented on #349
The library ID is used by markdup.

[2018-10-12 06:31] #349 closed

[2018-10-12 06:35] pjotrp commented on #343
Rigorous downsampling is a recurring wish - certainly at speed. I wrote some code for it, but the implementation is not satisfactory yet. It turns out to be a tricky problem.

As @isthisthat suggests you can fraction the output right now.

[2018-10-12 06:36] pjotrp commented on #277
Fixed.

[2018-10-12 06:36] #277 closed

[2018-10-12 14:41] TimurIs commented on #369
Yes, I'll do it soon. Sorry for a delay

[2018-10-12 17:53] stevekm commented on #186
I tried it with 0.6.8 (also from conda), and it works, no errors.
Unfortunately, our pipeline requires the use of 0.6.6. I guess if this is a bug in the program and not something that we can fix by adjusting our system, I will just have to review our software versioning protocol and try to get it updated. Thanks.

[2018-10-12 18:07] pjotrp commented on #186
Excellent. Thanks for reporting. Latest sambamba is 20% faster too.

[2018-10-12 18:07] #186 closed

[2018-10-15 17:37] TimurIs commented on #369
Hello @pjotrp,

I've created 2 PRs: 1 for sambamba and 1 for BioD. Check them please and let me know if I screwed something up :)

[2018-10-17 06:18] pjotrp commented on #369
Added. Thanks @TimurIs

[2018-10-17 06:18] #369 closed

[2018-10-17 06:57] #340 closed

[2018-10-17 06:58] pjotrp commented on #364
@hassanfa do you mind giving it a shot so I can add you to the hall of sambamba fame :)

[2018-10-19 14:20] hassanfa commented on #364
😄 Sure thing, but it might take a while for me to catch up with current Sambamba development.

[2018-10-23 15:46] ckuenne opened #371 "Fixed tmpdir for sambamba merge"
Hi,

sambamba: 0.6.8

sambamba merge -t 16 union.bam Scr-AtSt_1.bam ... [lots of large bams here]

Sambamba crashed on me when I tried to merge 30GB worth of BAM files, because it filled the /tmp/ folder until there was no space left. I noticed that many other subcommands (e.g. sambamba sort) allow to reset the temporary folder, which would solve this issue for me. So it would be really great if y

[2018-10-23 16:31] mschilli87 commented on #371
@ckuenne: I didn't check but you could try setting `TMPDIR` to see if it is sufficient to relocate `sambamba merge`'s temporary directory.

[2018-10-25 10:04] pjotrp opened #372 "Update sambamba documentation"
Sambamba documentation is getting a little tired. Need to generate and update.

[2018-10-30 20:05] fwip opened #373 "Makefile.docker requires ldmd2 to be installed locally"
Hi,

I tried to compile sambamba using Docker on my Mac, and found that it still requires ldmd2 to be installed locally on the system. I believe the offending line is here: https://github.com/biod/sambamba/blob/v0.6.8/Makefile.docker#L42 - the `$(shell which ldmd2)` fails if there is no local version of `ldmd2` available.

I am not sure what the appropriate fix here is, but it seems like the right

[2018-10-31 11:35] emi80 opened #374 "Add fasta indexing and slicing functionalities"
These could include:

- indexing fasta files
- getting sequences by region queries
- storing fasta files in an indexed and compressed format (e.g. bgzip)

[2018-10-31 18:12] fwip commented on #373
Oh, sorry, those versions work fine. I wanted to have a go at compiling it myself, to see if I could hack on it a little bit (mostly for fun).

[2018-10-31 19:16] pjotrp commented on #373
That would be really cool! If you check the .travis.yml file in the source tree you can see we build for macos on Travis which works out of the box: https://travis-ci.org/biod/sambamba/jobs/442531351
If you check that output you can see how you can install ldc on macos and compile everything. I suggest to try that. Use ldc 1.11 and not 1.12 - the latter is giving us problems.

[2018-11-02 08:39] emi80 commented on #374
from @george-githinji

https://seqan.readthedocs.io/en/seqan-v2.0.2/Tutorial/IndexedFastaIO.html

[2018-11-16 03:09] ghost opened #376 "sambamba-markdup: not enough data in stream"

[2018-11-16 03:10] nataliezimm commented on #376
I'm trying to use this command for a class project

sambamba-0.6.8-linux-static markdup SRR1770413.raw.sorted.bam SRR1770413.bam

and I keep getting this error

sambamba-markdup: not enough data in stream

I'm very new to computer science and I have no idea how to fix this! Any help is much appreciated.

[2018-11-23 05:49] YPGG1234 opened #377 "sambamba depth -- open too many files"
hi,everyone,
i meet a problem when i use “sambamba depth” to handle a bam file.It reports “ **_sambamba-depth: Cannot open or create file 'XXX_clean_dedup.bam' : Too many open files_**”. There is only one bam file and i had already dedup with Picard，but when i use “sambamba depth”,it  works wrong.I had test “sambamba depth” with other bam files,there are all  run correctly.I don't know why.Can som

[2018-11-23 11:58] pjotrp commented on #377
Check open files with https://www.cyberciti.biz/faq/howto-linux-get-list-of-open-files/. Linux often allows for 1024 open files. You can increase that.

[2018-11-27 08:08] #377 closed

[2018-11-28 10:32] cmeesters opened #378 "requesting clarification / documentation issue?"
Dear all,

whilst trying sambamba-0.6.8-linux-static on sorted bam files (sorted with samtools v1.6) to mark duplicates, the command line was

./sambamba-0.6.8-linux-static markdup -p sorted/asdf_sorted.bam dummy/asdf.bam

sambamba reported:

sorted 344617544 end pairs
     and 305879 single ends
<snip>

- Should I therefore assume that an independent sorting step is not necessary (I only took a f

[2018-11-29 10:21] cmeesters commented on #378
Well, you have the right to resort to g*, I have that not to use this "data hydra".

In this particular case the background, which I did not elaborate, was that I considered supporting your software on our statewide (RLP in Germany) cluster. The prerequisites (amongst others) are that we are able to compile it (which implies including a D-compiler in our llvm setup) and -- considering the fact tha

[2018-11-29 20:58] pjotrp commented on #378
Hi @cmeesters, if you promise to update the documentation I will help you with any issues.  Documentation is a valuable contribution.

This is a free software project that is maintained by people in their free time. Sambamba is a great and robust performer, that is the only reason to use it - no other.

The README points to existing performance metrics, btw. Feel free to help out with updates.

[2018-12-21 11:15] emi80 opened #379 "Add a new sorting method to set mates of the same alignment adjacent as required by RSEM"

[2018-12-23 07:15] pjotrp commented on #379
Thanks @emi80. Probably a good idea to add a test to the test suite.

[2018-12-23 15:38] emi80 commented on #379
Hi @pjotrp, yes definitely. I was planning to add one and I already have the test data. I just wanted to make the pull request first, for reference.

Thanks

[2018-12-29 11:39] metoru opened #381 "sambamba-sort error sometimes"
version of sambamba：0.68

* the command line or bash script used (feel free to shorten paths and filenames)
     sambamba view -h -S --format=bam 2-A1-D1.sam >tmp.bam
     sambamba sort -m 7000000000 tmp.bam

I  faied in runing the command sometimes in Sun Grid Engine .
   The erro  is "sambamba-sort: Unable to write to stream"
I hope you can give me some sugesstion ！
-->

[2018-12-29 14:38] pjotrp commented on #381
See #218

[2019-01-03 11:04] pjotrp opened #382 "Use different test frame work"
One candidate is https://github.com/briansteffens/btest

[2019-01-17 18:50] suluxan opened #384 "sort by read names merge (sort -n)"
**problem:** sorting by read name is working and chunked into the temporary files but the merge after the sort is not working; could it be due to indexing at the same time? it would not be able to index a read-name-sorted bam in that case

**version:** 0.6.8
**command line:** /bin/sambamba-0.6.8 sort -n -t 20 /ENCODE/ENCFF007ZLI.bam -o /ENCFF007ZLI-sorted-sambamba-068.bam --tmpdir=/immds/
**output

[2019-01-27 10:36] zhangrengang opened #385 "some bam files from 'sambamba markdup' failed in 'samtools stats'"
sambamba 0.6.3

I used 'sambamba markdup' to process ~200 bam files, but a few output occurred error in 'samtools stats':
[code]

[2019-01-28 05:10] pjotrp commented on #385
Looks like your BAM files are incomplete.

[2019-02-06 17:02] sambamba opened #386 "install- dyld: Library not loaded"

[2019-02-06 17:02] #386 closed

[2019-02-06 21:34] harperfauni commented on #311
@hassanfa That is interesting because all my BED files were sorted....

[2019-02-21 16:19] #381 closed

[2019-02-21 16:20] pjotrp commented on #379
https://github.com/biod/sambamba/pull/383

[2019-02-21 16:20] #379 closed

[2019-02-21 16:21] pjotrp commented on #384
Have you solved this?

[2019-02-21 16:22] #385 closed

[2019-02-21 16:24] #189 closed

[2019-02-26 21:56] dolittle007 opened #388 "issue on CRAM: can't resolve www.ebi.ac.uk:80: System error"
sambamba version 0.6.8

sambamba view -T $HOME/database/genome/hg38.fa -f cram test.bam -o test.cram

It pop ups a warning message:  can't resolve www.ebi.ac.uk:80: System error.
How to suppress it?

[2019-02-28 20:44] andre2007 opened #389 "Article: a comparison of 3 programming languages"
Did you saw the article https://www.biorxiv.org/content/10.1101/558056v1?
Is this an area in which your D implementation could do a better job than the 3 mentioned languages?

[2019-02-28 23:07] pjotrp commented on #389
Hmmm. These comparisons are usually flawed. The programmer is the main bottleneck in my opinion. I bet if you study the implementation you can improve on it significantly (in any of the three languages).

Memory management is an issue, but it is more about algorithmic choices in general and implementation specific details.

D is a great programming language (to me) because it is non-opiniated. I.e

[2019-03-01 05:24] andre2007 commented on #389
I fully agree with you:)
My assumption is, the authors are not aware of the D Programming Language and miss this great library.
Did you considered to share your insights with the authors of the article?

[2019-03-01 07:42] andre2007 commented on #389
There is also some discussion here
https://forum.dlang.org/thread/ytrwoshepnznbcghbtzt@forum.dlang.org

[2019-03-01 19:43] pjotrp commented on #389
Yeah, I added my note.

[2019-03-01 19:43] #389 closed

[2019-03-11 19:08] heuermh opened #390 "Sambamba + BioD + GSoC idea"
Re:

Taking the fastest sequence transforming software in the world to the next level
https://obf.github.io/GSoC/ideas/#taking-the-fastest-sequence-transforming-software-in-the-world-to-the-next-level

I'd be the ADAM author to help mentor.  Would this issue be a good place to discuss?

[2019-03-11 21:09] pjotrp commented on #390
Do you mind sending me an E-mail? pjotr dot public34 at thebird.nl

[2019-03-19 22:30] pjotrp opened #391 "Slice test case fails"
Compiling sambamba with -cov (for coverage) has this test fail

        sambamba slice -L test/chr2_chr3_test_region.bed test/issue_204.bam

with

[code]

[2019-03-19 22:31] #343 closed

[2019-03-24 18:57] mrshope93 opened #392 "Subsampling with sambmaba produces wrong number of reads"
Hi,

I am trying to subsample bam files using sambamba and I get somewhat unexpected number of reads in the output file. I am using sambamba 0.6.7 and the following command for subsampling:

sambamba view -h -t 56 -f bam --subsampling-seed=123 -s $fraction $bam -o $name\_$varname\.bam

My starting file has 97541577 reads. I am trying to subsample a fraction of 0.8137260791. This should result in ~

[2019-03-24 19:21] mrshope93 commented on #392
I have tried running -t 1, thinking maybe something happens during parallelization, but got exactly the same number of reads 89908779, which is much larger than I expect.

[2019-03-24 19:23] mrshope93 commented on #392
I have been running the exactly same command in the past for smaller bam files, and haven't noticed any deviation from the expected number of reads (not more than 0.5%). I am wondering, if maybe the size of the inut file can be causing issues...

[2019-03-28 22:55] Dr-Handsome opened #393 "markdup segmentation fault"
sambamba 0.6.8 from bioconda

I run markdup on a cluster and generated the segmentation fault error and left a core.* temporary file. This error is consistent among all the computer with different CPU (either Xeon or AMD Opteron). Any thoughts?

[2019-03-29 09:21] steffenheyne commented on #393
probably similar issue here. I'm also on conda v0.6.8

For test purposes I have a very small bam and it seems releated to the number of threads used.
The same small bam with -t 1..8 works fine, with `-t 9` it segfaults
Maybe some threads get zero data!?
[code]

[2019-03-29 12:59] steffenheyne commented on #393
ah maybe this is due to a high number of duplicates.
I increased the `--hash-table-size=4194304` and then it runs through without segfault

[2019-03-29 13:35] steffenheyne commented on #393
so actually the segfaults seem more random, I changed parameters and sometimes it crashes, sometimes it runs through...so far unpredictable what causes this....

bioconda version/build issue?
underlying OS is ubuntu 18.04

[2019-03-29 13:45] steffenheyne commented on #393
Where can I send the dump from `catchsegv`?

[2019-03-29 14:57] steffenheyne commented on #393
here is a dump
[catchsegv.1.txt](https://github.com/biod/sambamba/files/3023204/catchsegv.1.txt)

[2019-04-01 21:20] pjotrp commented on #393
Thanks for the dump. I am happy to chase the problem. You can see it is happening in the garbage collector. Can you try the latest binary release and see if this does the same? https://github.com/biod/sambamba/releases

Also, what hardware are you on. Some Xeons have threading problems.

[2019-04-02 14:26] steffenheyne commented on #393
different cloud servers, but last one was a  Intel(R) Xeon(R) CPU E5-2673 v4 @ 2.30GHz

dump from cloned master:

[catchsegv.2.txt](https://github.com/biod/sambamba/files/3034374/catchsegv.2.txt)

I compiled with make debug, but looks less informative than with the conda version

[2019-04-02 14:29] pjotrp commented on #393
I think that is one of the unreliable Xeons for hyperthreading. Sambamba is one of the rare tools which brings it out by utilizing all cores. See also #335. Check the list by Intel.

[2019-04-02 14:41] steffenheyne commented on #393
mhmm that's bad. so using less cores could be more stable?

I also get a segfault with sambamba depth ....

[2019-04-02 15:08] pjotrp commented on #393
One option is to turn of hyperthreading. Sadly that is hard in most HPC environments. Alternatively don't use those machines or rerun until it gets through. You can blame Intel.

[2019-04-03 08:47] steffenheyne commented on #393
yeah thanks!

Btw, I downgraded  to v0.6.6 via conda and this seems more stable, so far I don't get any segfaults with the same data.

Does this version uses a different underlying library or like that?

[2019-04-03 10:54] pjotrp commented on #393
It is possible. What version of LLVM and ldc is it using? Underlying tools are evolving fast. Sambamba did not change markdup essentially between those versions.

[2019-04-03 11:51] steffenheyne commented on #393
It looks like the 0.6.6 conda version uses your pre-build packages from github
(https://github.com/biod/sambamba/releases/download/v0.6.6/sambamba_v0.6.6_linux.tar.bz2),

whereas the 0.6.8. build it from scratch on the conda server as given here:
https://github.com/bioconda/bioconda-recipes/blob/master/recipes/sambamba/build.sh

[2019-04-03 11:55] pjotrp commented on #393
Can you try running the pre-built version for 0.6.9?

[2019-04-03 12:28] steffenheyne commented on #393
unfortunately this doesn't help, the pre-build also segfaults, and also a locally build 0.7.0-pre1

but what I observed I rarely/(never?) got segfaults with all versions from 1-8 threads, strangely also not with the local build with 9 threads, higher thread numbers really often/(always?) segfaults

[2019-04-03 12:44] steffenheyne commented on #393
yeah and with your manually (not using conda version) downloaded pre-build 0.6.6 it also (so far) never crashes with whatever number of threads

[2019-04-05 00:15] RichardCorbett commented on #393
Hi folks,
I'm using sambamba-0.6.9-linux-static on CentOS 6 and 7 and getting what looks like a similar error.

I ran 40 different samples and only 10 got this error, but I tried this command on a few machines and they all seg faulted.

Do you have any suggestions?

thanks,
Richard

[code]

[2019-04-05 01:26] pjotrp commented on #393
@RichardCorbett what is the CPU you are on? Does using an older binary of sambamba work?

[2019-04-05 15:42] RichardCorbett commented on #393
CPU tested:
Intel Xeon E5 -2650 @ 2.20 GHz

I just had some filesystem problems overnight so retesting is going to be a challenge.    In case it may be relevant I noticed that I was testing on BWA aln 0.5.7 BAM file which includes non-zero mapping qualities for unaligned reads.

[2019-04-05 16:11] pjotrp commented on #393
Yeah, this may be another Xeon with problems. It will be interesting to see if older versions of sambamba+llvm+ldc show the same problem.

@steffenheyne can you confirm you are still good with 0.6.6 binary? And both of you, is there any way I could access one of these machines so I can debug the problem? If 0.6.6 works I could use that same build chain to compile a new binary and see if that keeps

[2019-04-05 16:14] pjotrp commented on #393
sambamba 0.6.6 was built with

[code]

[2019-04-05 16:16] pjotrp commented on #393
Another thing we could try is building sambamba with the GNU D compiler. That would fine tune the diagnostics - whether it is with LLVM or D-runtime.

[2019-04-05 16:45] RichardCorbett commented on #393
A second test run overnight duplicated the error on a machine with this cpu:
144 x Intel(R) Xeon(R) CPU E7-8867 v4 @ 2.40GHz

[2019-04-05 16:49] pjotrp commented on #393
Great. I am starting to suspect the D runtime. I should try hitting one of our machines badly.

[2019-04-11 01:15] pjotrp commented on #393
Thanks. I am too busy now to sort it now but should have time by Easter.

[2019-04-15 01:17] liujiayi771 opened #394 "Can not run MarkDup for very large bam file"
If I have a very large bam file, the size of the bam file is 129GB. How should I set the parameters of markdup to run it fast? My server has 64 cores, 256G memory. No error is currently reported, but it seems to be just starting, but not running.

[2019-04-15 06:33] ZunpengLiu commented on #394
I also met the same issue. segmentation fault. Im trying some parameters.

[2019-04-15 07:53] liujiayi771 commented on #394
I have not encountered the problem of segmentation fault, but my program runs very slowly. I use htop to see that the process has no CPU usage and it seems that it is not running.

[2019-04-15 07:55] ZunpengLiu commented on #394
maybe you can split the large bam to smaller ones and try it again?

[2019-04-15 16:25] beboche commented on #394
I experienced also the same issue with 0.6.7 and 0.6.9: the program starts, prints:
"finding positions of the duplicate reads in the file..."
then seems to sleep - it can last for hours.
It happened on a variety of BAMs, from hundreds of Mb to 2-5Gb, but not always (works for a bunch of BAMs, then 'blocks' on one).
Hardware is Intel(R) Xeon(R) CPU E5-2620 v4 @ 2.10GHz.
I reverted to 0.6.6 - seems

[2019-04-15 16:28] ZunpengLiu commented on #394
Cool, I will try it. And, what are the parameters recommended for processing larger bam files?

[2019-04-15 16:31] beboche commented on #394
In my experience the number of threads ahs no influence on the issue. From the [doc](http://lomereiter.github.io/sambamba/docs/sambamba-markdup.html) the --hash-table-size can be increased if you have really high coverage. You can maybe try also the buffer size?

[2019-04-15 16:33] ZunpengLiu commented on #394
Yes, I also notcied what you mentioned "threads...".  Thanks for you kindly reply!

[2019-04-16 08:50] liujiayi771 commented on #394
my CPU is Intel(R) Xeon(R) CPU E5-2683 v4 @ 2.10GHz, and I try 0.6.6. However, after the program has been running for a while, it still stops running. The process is not finished, but there is no CPU at all.

[2019-04-16 09:05] beboche commented on #394
Do you use pre-compiled binaries? I was wondering if it was worth giving a try to compile from source.

[2019-04-16 13:27] liujiayi771 commented on #394
Have you successfully compiled v0.6.6 from source? I have encountered a lot of problems related to dmd, I am not very familiar with dlang, I don't know how to compile successfully. I use git checkout tags/v0.6.6 to get the source code of v0.6.6, and then use git checkout to switch BioD, lz4, htslib to the specified version used in v0.6.6. After git clone https://github.com/dlang/undeaD, I used com

[2019-04-16 13:33] beboche commented on #394
No sorry I did not. And won't be of help with this error.

[2019-04-17 01:26] liujiayi771 commented on #394
I add a parameter `--hash-table-size=4194304` and now it runs normally. But I don't how to set this parameter suitably, can someone give me some advice?

[2019-04-17 13:52] ZunpengLiu commented on #394
How long **time** and **memory** does sambamba need to makedup for 100G bam? And how many core you used?  I noticed that no matter how many cores I set, sambamba just use 2-3 cores.

[2019-04-17 13:54] ZunpengLiu commented on #394
finding positions of the duplicate reads in the file...

so long time

[2019-04-17 14:22] ZunpengLiu commented on #394
finding positions of the duplicate reads in the file...
  sorted 291724792 end pairs
     and 10283856 single ends (among them 362897 unmatched pairs)
  collecting indices of duplicate reads...   done in 68219 ms
  found 102567687 duplicates
collected list of positions in 41 min 45 sec
**removing duplicates...**.              :(.   :(    :(.   :(
          (core dumped) $sambamba markdup --hash-ta

[2019-04-26 07:13] sirselim commented on #393
Just adding my observation of this issue as well.
**Processors:** 2x Intel Xeon Gold 5118 (12 core, based on Skylake)

Using conda Sambamaba (0.6.8 and now 0.6.9) in a snakemake workflow. Getting segfaults at markdup stage.

Set the markdup rule to call 0.6.6 from conda and things seem to be processing well.

[2019-04-26 14:08] pjotrp commented on #393
Thanks. This is very annoying, good thing we have 0.6.6.

[2019-04-27 07:18] iamh2o opened #395 "sambamba depth window sementation fault [core dump] using --combined flag"
* version of  sambamba == 0.6.8

* version of samtools if the issue is with pileup tool = N/A

* the command line or bash script used (feel free to shorten paths and filenames)

Outputs:
sambamba 0.6.8 by Artem Tarasov and Pjotr Prins (C) 2012-2018
    LDC 1.13.0 / DMD v2.083.1 / LLVM7.0.1 / bootstrap LDC - the LLVM D compiler (0.17.6)

\# chrom	chromStart	chromEnd	readCount	meanCoverage
Processin

[2019-04-28 14:52] pjotrp commented on #395
Can you try 0.6.6 and see if it does the same? May be a duplicate of #394

[2019-05-01 14:40] pjotrp commented on #393
I am on to this now. Can someone send me a BAM file that is proven to fail? I can run it on different architectures next week and see if we can make it work. I suspect D's garbage collector goes out of sync with the threadpool we are using. If that is not it, it may be a rogue malloc/free. But I need something that will consistently segfault on one of our machines. Worst case I can try one of them

[2019-05-01 14:41] pjotrp commented on #390
I sent you an E-mail.

[2019-05-01 14:41] #390 closed

[2019-05-01 14:42] pjotrp commented on #374
@emi80 I think we can close this, right?

[2019-05-01 14:42] pjotrp commented on #355
Actually, current thinking is to drop CRAM support. Anyone using that with sambamba?

[2019-05-01 14:48] dpryan79 commented on #393
I don't know that I've seen any that produce this 100% of the time. It seems like a race condition, since if I rerun things enough times eventually it will work. But I can try sending you something tomorrow unless someone else replies with a better file beforehand.

BTW, thanks for looking into this!

[2019-05-01 14:59] pjotrp commented on #393
Thanks for helping out! If you need a place to upload I can set something up next week.

[2019-05-01 15:02] dpryan79 commented on #393
Not an issue, we have a standard file hosting server set up.

[2019-05-01 16:53] heuermh commented on #390
Thank you, @pjotrp

[2019-05-01 22:47] brainstorm commented on #355
I would probably have used it soon, pity :/

[2019-05-02 16:12] twhitehead opened #397 "The latest 0.6.9 release still required the submodule biod/undeaD but it doesn't exist"
As the title says.

[code]
[code]

[2019-05-06 14:08] Poshi commented on #355
Here we are using sambamba for many tasks, and a couple weeks ago we started thinking on moving to cram to try to reduce disk usage. In fact, for us, it would be good not only to keep the CRAM support, but also to enhance it (with little quirks like the ones samtools offer: using a reference/embedding it/not using any reference, choosing which compression algorithm to use, giving the opportunity o

[2019-05-06 14:17] Poshi opened #398 "CRAM documentation"
This is not a code issue, but a documentation issue. The documentation does not talk about CRAM file format (at least, not the documentation for sambamba view), but running the command in the command line show parameters to manage this format.

In case you decide to keep suport for CRAM file format, it would be good to update the docs with the relevant information about CRAM.

[2019-05-06 17:16] pjotrp commented on #355
The plan is to work on the variant graph (VG) and column based BAM.

CRAM support can still be an option in time. Personally I am not fond of the CRAM format in pipelines. For lossless storage it can be an idea, but there are newer formats that outperform CRAM. Personally I would like take the road with VG for cheap storage.

[2019-05-06 17:17] pjotrp commented on #398
Part of #355 really.

[2019-05-06 17:17] #398 closed

[2019-05-06 17:18] pjotrp commented on #397
undead is now part of BioD so it should not be a submodule.

[2019-05-06 17:21] pjotrp commented on #397
Was fixed with a9fc5fb86bc4bbd820b33c3ec19629b21e476c76

[2019-05-06 17:21] #397 closed

[2019-05-07 17:36] pjotrp commented on #393
@dpryan79 ready. You can send details to pjotr dot public98 at thebird dot nl.

[2019-05-07 18:14] twhitehead commented on #397
Thanks. For anyone else who comes across this, you actually want d67cf50 (one more commit) as a9fc5fb only removed the _.gitmodules_ entry for `undeaD` and not the reference number object leaving the submodules in a broken state.

[2019-05-10 09:28] emi80 commented on #374
HI @pjotrp, apologies for the late reply.

Yes, we can close this issue.

[2019-05-10 09:28] #374 closed

[2019-05-14 12:30] dpryan79 commented on #393
Here's a test file: http://unishare.ie-freiburg.mpg.de:2915/fop/jsdllLo3/SRR2096206.bam

Note that I can only reproduce it on some servers and not others. 0.6.6 doesn't segfault on any of the servers we have.

[2019-05-14 13:01] pjotrp commented on #393
OK, got the BAM file. I'll report on proceedings.

[2019-05-14 15:43] pjotrp commented on #393
Segfault on first try on a Intel(R) Xeon(R) CPU E5-2683 v3 @ 2.00GHz with

        ./sambamba-0.6.9-linux-static markdup SRR2096206.bam test.bam

[2019-05-29 13:27] pjotrp opened #399 "Compile Sambamba with DIP1000"
https://forum.dlang.org/post/mcgqcxsmbugfsmvqodzb@forum.dlang.org

[2019-05-29 14:43] #395 closed

[2019-05-29 14:44] #392 closed

[2019-05-29 14:47] pjotrp commented on #393
gdb -ex 'handle SIGUSR1 SIGUSR2 nostop noprint' --args ./sambamba-0.6.9-linux-static markdup SRR2096206.bam test.bam

[2019-05-29 15:47] pjotrp commented on #393
A rebuild of sambamba ran without crash the first time with

     LDC 1.10.0 / DMD v2.080.1 / LLVM6.0.1 / bootstrap LDC - the LLVM D compiler (0.17.4)

[2019-05-29 17:08] pjotrp opened #400 "testSliceMultipleRegionsBed fails"
testSliceMultipleRegionsBed segfaults for Linux but passes for OSX. See https://travis-ci.org/biod/sambamba/jobs/538802569

[2019-05-29 17:23] pjotrp commented on #393
I put out a new binary release which you can use for testing. Next step I'll need to build with a more recent compiler (again). I'll try to compile with the new DIP1000 as in #399

[2019-05-29 18:04] pjotrp commented on #399
Two errors listed at least:

    BioD/bio/std/hts/bam/md/parse.d(49): Error: returning `this._cached_front` escapes a reference to parameter `this`, perhaps annotate with `return`
    BioD/bio/std/hts/bam/md/parse.d(53): Error: returning `this._cached_back` escapes a reference to parameter `this`, perhaps annotate with `return`

[2019-05-31 14:06] pjotrp commented on #393
A build with the latest version of LDC 1.16.0-beta consistently segfaults:

      LDC 1.16.0 / DMD v2.086.0 / LLVM7.0.1 / bootstrap LDC - the LLVM D compiler│
 (0.17.6)

[2019-05-31 15:09] pjotrp commented on #393
[code]

points at

                _alloc_buffer = uninitializedArray!(ubyte[])(max(size, 65536));

which triggers a GC sweep and segfaults.

The stack trace is informative and it looks like we have invalid pointers on the stack.

[2019-05-31 15:24] pjotrp commented on #393
The debug version of sambamba renders

[code]

[2019-05-31 15:58] pjotrp commented on #393
This may be what I am looking for

[code]

[2019-06-01 01:23] pjotrp commented on #393
Just now, for the first time, sambamba ran without crashing :). The problem is an out of order execution.

[2019-06-02 18:40] pjotrp commented on #393
I think the problem is with scopedtask where a task is added to the threadpool using the stack rather than the heap. In particular this section

https://github.com/biod/BioD/blob/master/bio/core/bgzf/inputstream.d#L391

where a task gets created and pushed on a roundbuf. When the garbage collector kicks in *after* reading the BAM file it wants to destroy this object but it is in an inconsistent st

[2019-06-10 16:40] pjotrp commented on #393
Adding this code to the destructor which segfaults

[code]

Running a decompress block typically reads

[code]

but before a segfault we get

[code]

[2019-06-10 17:34] pjotrp commented on #393
Artem wrote:

    Create a new task and put it on the roundbuffer using some magic

My conclusion is that that 'magic' no longer works. Creating a thread on the stack and moving it to the roundbuffer on the Heap confuses the garbage collector which is kinda unsurprising. With markdup I can't disable the GC cleanup so it needs some surgery.

[2019-06-19 13:06] scalavision commented on #400
will this be fixed soon ?

I would like to try to make a nixpkgs for this amazing library if possible, but need all the tests passing.

[2019-06-19 18:24] ekg commented on #393
We are having the same problem. Is the only solution at present to downgrade to 0.6.6?

[2019-06-19 18:45] pjotrp commented on #393
It is one of these things that take a few days of work to fix. It is on my list :/

[2019-06-19 18:46] pjotrp commented on #400
Let me take a look later in the week.

[2019-06-19 20:31] pjotrp commented on #400
Turns out this failure is another variant of #393

[2019-06-20 06:34] ekg commented on #393
It might save some users a bit of time if you make a kind of warning binary release of 0.6.6-stable and drop it at the top of the release page.

I know how much of a pain it can be to track down stuff like this. We just had a big problem due to the Spectre/Meltdown patches changing the way that multithreaded interleaved system calls work. I wonder if this problem is related.

[2019-06-20 11:06] scalavision commented on #400
Thanks a lot! :-)

[2019-06-20 19:38] pjotrp commented on #393
Actually the latest binary release 0.7.0 works.

https://github.com/biod/sambamba/releases/tag/v0.7.0

The problem is with later versions of the D compiler.

[2019-06-27 04:24] mictadlo opened #401 "proper_pair not the same as -f 0x2"
Hi
It appears that proper_pair does not deliver the same results as -f 0x2
[code]
[code]
What did I miss?

Thank you in advance,

Michal

[2019-06-27 12:54] msubirana opened #402 "Broken pipe"
I am using sambamba 0.6.6 in a paired-end data with the script that follows, running in a SGE cluster.
bwa mem -M -t $cores \
	-R "@RG\\tID:${filename}\\tPU:1\\tSM:${filename}\\tPL:ILLUMINA" \
	${ref} ${file} ${file2} |
	sambamba view /dev/stdin -S -f bam -t $cores | \
	sambamba sort /dev/stdin -t $cores -o ${outPath}/${filename}.bam; \
	sambamba index -t $cores ${outPath}/${filename}.bam

And I g

[2019-07-05 07:14] msubirana commented on #402
I found the error, it should be:
sambamba view /dev/stdin -S -f bam -t $cores | \
sambamba sort /dev/stdin -t $cores -o ${outPath}/${filename}.bam; \

[2019-07-05 07:18] msubirana opened #403 "sambamba-sort - Too many open files"
I get this error

[code]

Running

[code]

The fq.gz files are about 30gb (being paired-end)

[2019-07-06 15:17] pjotrp commented on #403
That is a systems setting. You can try to increase -m memory limit to reduce chunks. Also test without pipes.

[2019-07-06 15:18] #402 closed

[2019-07-24 09:32] Fangzheng16 opened #405 "sambamba-markdup: [zlib] buf error"
sambamba 0.6.6
I tried sambamba markdup -t 8  input.bam output_markdup.bam

But it showed an error sambamba-markdup: [zlib] buf error? Is it a version problem?

[2019-08-06 09:44] isthisthat opened #406 "sambamba depth region -L <(expression) bam segfaults"
I'm trying to chain a region generator to sambamba depth but it fails or core dups using any of:

    sambamba depth region -L <(expression) bam
    expression | sambamba depth region -L /dev/stdin bam

but not

    expression > tmp.bed; sambamba depth region -L tmp.bed bam

Thought I might report since it took ages to debug. Using the latest release (v7). Thanks

[2019-08-06 12:30] pjotrp commented on #406
Oucht. Thanks for reporting. I'll try and replicate.

[2019-08-15 08:55] isthisthat commented on #406
Might be related to this:
`sambamba depth base -L chr22_KI270731v1_random:0-150754` gives
`sambamba-depth: Conversion negative overflow`
but this works:
`sambamba depth base -L chr22_KI270731v1_random`
same for any contig, I just chose a small one

[2019-09-10 15:02] aderzelle opened #407 "Simple question regarding sambamba depth"
Hello,
how does sambamba depth deals with secondary and supplementary alignments in a sam/bam file?
I know samtools depth ignores them, what about sambamba? From the documentation, it's said that the default filter "the default value is 'mapping_quality > 0 and not duplicate and not failed_quality_control'"
does it mean it takes into account the secondary and supplementary alignments?
Also, bwa me

[2019-09-10 20:59] aderzelle opened #408 "core dump sambamba depth"
Hello,
I am using sambamba 0.7.0 and get the following error:

`./mapping.sh: line 32:  8447 Segmentation fault      (core dumped) ./sambamba-0.7.0-linux-static depth window -w 20000 -T 0 -t $threads -F 'mapping_quality >= 0' $out.sorted.bam > $out.cov`

It only happens with one of my bam file. I don't understand what this file has that is peculiar. It's 22 Gb long, I could try to send it through

[2019-09-16 11:01] aderzelle commented on #408
Hello again,
actually this issue shows up quite regularly and when it happens I have to try different values of threads until there is no more core dumps.

[2019-09-16 12:04] rikrdo89 opened #409 "Negative pattern matching syntax for filters"
Hi,
you provided an example using pattern matching for the "read_name" field (see below). is there support for negative (inverse) pattern matching? e.g. using the example below, what would be the syntax if I want all the reads that do not match /^ERR/ in "read_name" ?

sambamba view -F "read_name =~ /^ERR/" HG01375.mapped.ILLUMINA.bwa.CLM.low_coverage.20120522_chr1.bam

[2019-09-16 12:10] rikrdo89 commented on #409
I think I just figured this out... just surround the conditional by "not ( <expression> )"

[2019-09-16 12:10] #409 closed

[2019-09-16 12:44] rikrdo89 commented on #393
I got the same error "Segmentation fault (core dumped)" using  sambamba 0.7.0 installed with conda and running in an LSF cluster.... :/

[2019-09-16 13:04] pjotrp commented on #393
Conda builds with a recent ldc. That is the problem at this point.

[2019-09-16 13:49] pjotrp commented on #408
You mean with different BAM files?

[2019-09-16 13:52] aderzelle commented on #408
yes with different bam files.
Note that I am not able to reproduce the problem on different computers, so it might be related to the CPU. The core dump happens regularly with a
Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
While so far I haven't experienced it on my laptop running with a
Intel(R) Xeon(R) CPU E3-1505M v5 @ 2.80GHz

[2019-09-16 14:04] pjotrp commented on #408
Yeah, that is a hardware problem. Good on you to figure it out :)

Duplicate of https://github.com/biod/sambamba/issues/335

[2019-09-16 14:04] #408 closed

[2019-09-16 21:01] rikrdo89 opened #410 "filtering uniquely mapped reads results in odd number of reads in PE data"
When using -F "[XS]==null" to get uniquely mapped reads, I  get a odd number of reads, despite having paired-end data which should result in an even number of reads. is there a way to only get the pairs that are uniquely mapped? I tried adding "proper_pair" but it still resulted in an odd numbers of reads

[2019-09-23 15:04] pjotrp commented on #393
A heads up.

At this point build sambamba with an older ldc - like the binary released on github.

We decided to replace the original bam reader with a new one I wrote almost 2 years ago and we have been testing. Rather than fix the GC related issue we are going to use the new bamreader which is simpler and therefore (hopefully) easier to maintain. @NickRoz1 who worked as a Google Summer of Code s

[2019-09-24 18:06] milankovacevicsbg commented on #388
**sambamba version 0.7.0**

CMD:
sambamba-0.7.0 view --cram-input --nthreads=8 --format=bam merged-normal.filtered.cram -o merged-normal.filtered.bam

ERROR:
can't resolve www.ebi.ac.uk:80: System error
Failed to populate reference for id 20
Slice ends beyond reference end.
Unable to fetch reference #20 11038960..14992653
can't resolve www.ebi.ac.uk:80: System error
Failed to populate reference fo

[2019-09-25 12:13] pjotrp commented on #388
Sambamba uses an older htslib for CRAM which has

        htslib/cram/cram_io.c:  ref_path = "http://www.ebi.ac.uk:80/ena/cram/md5/%s";

I recommend against using sambamba for CRAM. We'll rip the support out most likely.

[2019-09-25 12:16] milankovacevicsbg commented on #388
Thanks, Pjotr!

[2019-10-20 18:09] Rohit-Satyam opened #412 "Sambamba seems not to work with GNU parallel"
Sambamba is indeed very fast and has made life easier. However, when I try to amalgamate its fast computation ability with parallelization using GNU Parallel, It seems to somehow fail.

* version of sambamba using: sambamba 0.6.6

The command line or bash script used:

[code]
When I use the above script using Samtools, It seems to work well and sorted bams are produced. However, when I try using s

[2019-10-21 07:17] mschilli87 commented on #412
@Rohit-Satyam:

This version is over two years old. Is there any chance you could test the latest (or at least a more recent) version? Maybe somebody solved this in the meantime. If this indeed is an issue with sambamba you'd anyways have to update to get any possible fix.

[2019-10-22 10:41] chenji333 opened #413 "Carrying a sort without reaction"
I first used it, something like this happened.
：
$ /lustre/zhangshengkui/biosoft/sambamba/bin/sambamba sort -t 20 out.bam -o out.sorted.bam

sambamba 0.7.0
 by Artem Tarasov and Pjotr Prins (C) 2012-2019
    LDC 1.15.0-beta2 / DMD v2.085.0 / LLVM8.0.0 / bootstrap LDC - the LLVM D compiler (1.15.0-beta2

After the sort command is executed, only the three lines of information are displayed, and noth

[2019-10-23 06:51] pjotrp commented on #412
Looks like a scripting issue rather than a sambamba issue.

[2019-10-23 07:26] Rohit-Satyam commented on #412
Hi! The HPC I was working is down momentarily so cant tell the version of GNU parallel. However, after trying multiple ways, one way worked for me. Previously I was trying to fire 8 jobs parallely over 8 processors. But when I limit the no.s of jobs to be fired at a time to 2-3 using **parallel -j 2** , it began to work.

Also when it fired 8 jobs at once, sambamba momentarily start creating multi

[2019-10-23 07:35] mschilli87 commented on #412
@Rohit-Satyam:
I think it would be easier to help if you could make it fail consitently with a minimal example that we can run locally. Once your HPC is back, you could use `qrsh` (or equivalent) to get an interactive shell and run things there. Also, you might want to explicitely tell `sambamba sort` how many threads to use to ensure you don't exceed the resources you requested for your job.

In

[2019-11-04 16:51] vanottee commented on #393
Same segmentation fault issue here - had installed on HPC system with bioconda. Is there a way to know when the Conda build has been updated?

[2019-11-08 12:06] Rohit-Satyam commented on #412
Hi!

On your recommendation, I was downloading latest version of sambamba. I was downloading the sambamba from here.  https://anaconda.org/bioconda/sambamba
It says version 0.7 and uploaded Last upload: 4 months and 13 days ago. However, when I install it it shows:

sambamba 0.6.6

This version was built with:
    LDC 0.17.1
    using DMD v2.068.2
    using LLVM 3.8.0
    bootstrapped with version

[2019-11-08 12:24] mschilli87 commented on #412
@Rohit-Satyam: Looks like an issue in anaconda then. I have `0.6.8` installed via GNU Guix and get `0.6.8` in `sambamba --version`.

[2019-11-19 14:56] Maarten-vd-Sande commented on #224
I just got this with version `0.7.0` in sambamba view. What is causing this? How can I solve this?

[2019-11-25 08:40] pjotrp commented on #393
I am working on fixing this bug. Track progress here https://thebird.nl/blog/work/rotate.html

[2019-11-25 14:14] oyvinev opened #414 "Select index file"
We are running sambamba (0.6.8/0.7.0) actively in an automated pipeline. Recently, we have discovered that sambamba will pick up the index file `myfile.bam.bai` (if it exists) for the file `myfile.bam`. In our case, this is incorrect, as we have the index stored in `myfile.bai`.

Is there any way to force sambamba to use a specified index file?

[2019-11-27 21:01] tzuni opened #415 "Feature request: absolute value operator in filter statements"
I'm trying to separate reads by the observed template size (for ATACseq data). Since the template size is given a sign depending on the orientation of each read, it makes it hard to use a simple one step comparison to the desired length. It would be great to be able to use something like this as a filter:

[code]

Just putting it out there in case it's an easy add for anyone.

Thanks for the great

[2019-11-28 18:27] #393 closed

[2019-11-28 18:53] pjotrp commented on #412
Try the latest release https://github.com/biod/sambamba/releases

[2019-11-28 18:53] #412 closed

[2019-11-28 18:53] #414 closed

[2019-11-28 18:54] #407 closed

[2019-11-28 18:55] #405 closed

[2019-11-28 18:55] #403 closed

[2019-11-28 18:55] #401 closed

[2019-11-28 18:56] pjotrp commented on #400
Should be fixed.

[2019-11-28 18:56] #400 closed

[2019-11-28 18:57] pjotrp commented on #406
Can you try the latest release https://github.com/biod/sambamba/releases

[2019-11-28 18:57] #394 closed

[2019-11-28 18:58] #388 closed

[2019-11-28 18:58] #378 closed

[2019-11-28 18:58] #376 closed

[2019-11-28 18:59] #353 closed

[2019-11-28 18:59] pjotrp commented on #280
CRAM support will be dropped.

[2019-11-28 18:59] #280 closed

[2019-11-28 19:00] #278 closed

[2019-11-28 19:01] #355 closed

[2019-11-28 19:01] #341 closed

[2019-11-28 19:02] pjotrp commented on #391
Seems to work now.

[2019-11-28 19:02] #391 closed

[2019-11-28 19:02] #413 closed

[2019-11-28 19:03] #373 closed

[2019-11-28 19:03] #384 closed

[2019-11-28 19:04] #333 closed

[2019-11-28 19:22] pjotrp commented on #393
@sjackman we have a new release of sambamba that fixes a long standing bug with the D runtime and should now compile with all versions of ldc. See also https://travis-ci.org/biod/sambamba

[2019-11-29 19:06] sjackman commented on #393
Thanks for the heads up, Pjotr. Once you've tagged a new release, would you like to open a PR to bump the version of Sambamba in Brewsci/bio? You need to change only lines, and you can do it from the GitHub web interface if you like. See https://github.com/brewsci/homebrew-bio/blob/c5b38cfea1eff4b18ae19d9dded00f990769de84/Formula/sambamba.rb#L6-L7

[2019-11-29 19:27] pjotrp commented on #393
@sjackman feels dirty to edit through the web interface. But hopefully it works :)

[2019-11-29 20:17] sjackman commented on #393
Hehe. Thanks!

[2019-12-05 16:54] kalon33 opened #416 "Error: undefined identifier"
Compiling 0.7.1 version with this environment under Debian Buster:
[code]
I got this error:
[code]

Could you help me solve this problem?

Thanks :)

[2019-12-10 14:45] pjotrp commented on #416
I am not using meson.

[2019-12-11 11:56] duartemolha opened #417 "bed file input for sambamba dept filter outputing unrequested position?"
Hi

I was using sambamba depth to get the allele counts on my position using an input bed file
and I was a bit confused about the output

my bed file contains this position:
4       106155058       106155059

as bed file format is a 0based positional format I am expecting that sambamba would output the basepair numbers on position 106155059 of chromosome 4

whoever the output I  get is giving me t

[2019-12-11 14:42] duartemolha commented on #417
Update... Based on the results I am getting it seems sambamba reporting coordinate is 0 base

I used as test a file contaings a range

4       106155050       106155060

REF     POS     COV     A       C       G       T       DEL     REFSKIP SAMPLE  FLAG
Processing reference #4 (4)
4       106155050       779     0       0       0       779     0       0       sample y
4       106155051       798

[2019-12-12 10:38] kalon33 commented on #416
@pjotrp Not using Meson and using make only gives the same error:
[code]
So it seems unrelated to Meson.

[2019-12-14 12:55] pjotrp commented on #416
I'll look into it. Strangely all builds pass here and on Travis-CI.

[2019-12-14 12:58] pjotrp commented on #417
Please check the other issues first like #221.

[2019-12-17 16:45] heuermh opened #421 "sambamba-markdup: not enough data in stream via /dev/stdin"
While I realize our use case is somewhat complicated (running sambamba via docker executed in an Apache Spark cluster), I am hoping the underlying issue may be simple.

Is there something about BAM format streamed to sambamba over `/dev/stdin` that would cause a `not enough data in stream` error?

Alternatively, might it be possible to read from stdin and write to stdout directly?

https://github.

[2019-12-17 16:55] pjotrp commented on #421
See #93

[2019-12-17 17:08] heuermh commented on #421
I tried reordering the command as in the issue you referenced
[code]

Regardless, it is our application that is streaming BAM format to `/dev/stdin` though, not `sambamba`.  Are you looking for an end-of-block or end-of-file marker, or is this error thrown due to an incomplete record?

[2019-12-17 20:15] tillea opened #422 "Please port tools and test suite to Python3"
Hi,
as you probably know Python2 is EOL at 1.1.2020.  Debian 11 will not contain Python2 any more and thus we need to port every package to Python3 (or kick it).  I have used 2to3 to create a [patch](https://salsa.debian.org/med-team/sambamba/blob/master/debian/patches/2to3.patch) for your kind inspection.  I admit I can not check that patch since the build error we discussed in private mail but t

[2019-12-18 07:48] pjotrp commented on #421
Sambamba expects a proper BAM stream. I can't validate this way.

[2019-12-18 07:49] pjotrp commented on #422
Thanks @tillea. I'll take a look soon.

[2019-12-18 14:08] sybrohee opened #423 "Discrepancy between sambamba and samtools"
Dear all,

I discovered a discrepancy when counting the reads between samtools and sambamba

`samtools view -c -L file.bed file.bam `
and
`sambamba view -c -L file.bed file.bam`

Apparently, when counting the reads, sambamba filters out reads that are unaligned but that have their mate paired AND where the aligned mate starting alignment position corresponds to one starting position in the bed fil

[2019-12-18 17:35] heuermh commented on #421
I'm sorry, I'm not sure what you mean here, as far as I know we are sending a properly formatted BAM stream.  It works well with several other bioinformatics tools.

I am trying to learn whether `sambamba` is doing validation differently than other tools, or if there might be an issue with using `/dev/stdin` instead of using stdin from a shell pipe.

[2019-12-25 06:32] pjotrp commented on #423
Handling of bed files is slightly different, see other issues on the tracker.

[2019-12-25 06:34] pjotrp commented on #421
It may help if you send an example we can reproduce.

[2020-01-03 18:02] danielecook opened #424 "Incompatible with OSX Catalina"
Sambamba can no longer be used on the latest version of Mac OSX

Tested with version 0.6.8; I also experimented with building but I do not see a straightforward way to build for version 0.7.1.

[code]

[2020-01-06 16:11] bioinfornatics opened #425 "Sambamba with htslib 1.10.2"
Dear,

Thanks for your awesome project.

We are trying to build sambamba version 0.7.1 whith htslib 1.10.2 provided by samtools.
Thus we have use patched:
- `htslib/cram/cram_decode.h` and `htslib/cram/cram_decode.c` from htslib
- Makefile in order to link to needed library` curl`,` liblxzma` and `libbzip2`
- `cram/htslib.d` from sambamba in order to not use deprecated symbol
- `cram/writer.d` fro

[2020-01-06 16:44] pjotrp commented on #425
Thanks for trying. I am actually planning to strip out the CRAM stuff and the htslib dependency. Feel free to do that. The old htslib was patched by sambamba which may explain the problems. Also the behaviour of htslib changed.

[2020-01-06 16:45] pjotrp commented on #424
Appears to be a small problem. I don't run non-free software, but if someone fixes it we are happy to accept the patches.

[2020-01-22 12:16] isthisthat opened #426 "sambamba depth window -L region support"
Hello,
this is a feature request for bed region support (-L) in sambamba depth window.
Thank you

[2020-01-27 13:16] dpryan79 commented on #424
Has there been any resolution to this? It appears to be an issue with DMD on OSX and perhaps just using a newer version of DMD to compile things will solve the issue.

Xref: https://github.com/dlang/druntime/pull/2666

[2020-01-28 10:47] pjotrp commented on #424
I'll do some work on sambamba soon. Hopeful travis-ci will help sort the OSX stuff.

[2020-02-13 09:02] pontushojer opened #427 "markdup: Barcode-aware duplicate marking"
I am really enjoying the speed of sambamba-markdup. However, there is a very handy option in [picard-tools MarkDuplicates](https://broadinstitute.github.io/picard/command-line-overview.html#MarkDuplicates) to perform barcode-aware duplicate marking that I am missing. Is there any possibly for this feature to be added in the future?

[2020-02-14 14:38] marcelm commented on #424
I can confirm that compiling Sambamba with LDC 1.17 will fix the problem, see bioconda/bioconda-recipes#20276.

[2020-02-14 15:13] pjotrp commented on #424
That is great news :+1:

[2020-02-19 00:22] franceskoback-Gladstone commented on #386
Can you explain how you resolved this issue? I am getting the same error when I tried to recompile sambamba with ldc>=1.17

[2020-02-25 12:09] isthisthat commented on #392
I've noticed that when sub-sampling the same bam twice, the second run will not throw out the expected number of reads. Are you sub-sampling multiple times?

[2020-02-25 15:32] isthisthat opened #428 "bug when downsampling twice with the same seed"
This is the culmination of weeks of hunting this bug down..
In the following sequence, the second command will not sub-sample, instead it will output the input bam unchanged (except for an additional header tag):

    sambamba -q view -s .01 --subsampling-seed 123 -f bam -o ss1.bam a.bam
    sambamba -q view -s .5 --subsampling-seed 123 -f bam -o ss2.bam ss1.bam

The second command will work if th

[2020-02-25 15:33] isthisthat commented on #428
This is the latest sambamba (0.7.1) and latest samtools (1.10)

[2020-02-25 17:44] isthisthat commented on #428
This is apparently a behaviour documented in the samtools view manual: https://www.htslib.org/doc/samtools-view.html#OPTIONS

[2020-02-25 18:42] pjotrp commented on #428
Yeah. Sambamba mirrors samtools

[code]

[2020-02-25 18:42] pjotrp commented on #392
Also discussed in #428

[2020-03-06 04:07] calliza opened #429 "Merge sometimes hangs and never merges"
* version of sambamba:
 0.7.0 and 0.7.1

* the command line or bash script used
sambamba merge -t 24 ../Final_bams/ID1-T.final.bam ./ID1-T.1042.recal.bam ./ID1-T.360.recal.bam <...>
where the <...> stands for lots (3367 total) of arguments of the form ./ID1-T.360.recal.bam).

The problem: trying to merge 3367 contig-level BAMs recalibrated with GATK BQSR into a final BAM per sample. I have used th

[2020-03-10 16:50] pjotrp commented on #429
@calliza you are certainly pushing tools! I don't know what you can share, but if I can have a go at reproducing the problem I can try debugging it. Otherwise it is virtually impossible to debug multithreaded programs. See for example https://thebird.nl/blog/work/rotate.html#org6ad44f1

[2020-03-11 17:11] elcortegano opened #430 "sambamba validate does not produce output"
I am running `sambamba validate file.bam` with some BAM files, but this does not produce any output. Only:

    sambamba 0.7.1
     by Artem Tarasov and Pjotr Prins (C) 2012-2019
        LDC 1.17.0 / DMD v2.087.1 / LLVM8.0.1 / bootstrap LDC - the LLVM D compiler (1.17.0)

This is happening for files both with errors and without them (validated with picard).

Am I running this in a wrong way? Other

[2020-03-12 22:13] calliza commented on #429
@pjotrp I am trying to get the most out of the cluster :-) Unfortunately it is human clinical data so I can't share it. If I come by a shareable sample that is subject to the same issue, I will share. I find it most bizarre that the issue occurs for some samples and not others, and that coverage and data quality has nothing to do with it.
If I run GATK ApplyBQSR over fewer scattered evenly-sized i

[2020-03-13 17:31] pjotrp commented on #429
Yes, do send me something when it is replicated.

[2020-03-13 17:34] pjotrp commented on #430
If you read the source code you should be able to figure out what validate does.

[2020-03-13 17:34] #430 closed

[2020-03-18 12:59] elcortegano opened #431 "sambamba-view error with pacbio SAM files"
I am trying to produce BAM files from pacbio SAM files aligned with NGMLR. When I run:

    sambamba view -f bam -o file.bam file.sam

I got the following error:

    sambamba-view: Error reading BGZF block starting from offset 0: wrong BGZF magic

What is wrong with this? samtools view works fine over the same file.

[2020-03-18 14:18] pjotrp commented on #431
The BAM file is not bgzf encoded.

[2020-03-18 14:18] #431 closed

[2020-04-01 11:29] wynstep opened #432 "Discrepancy between samtools depth and Sambamba region"
Dear all,
I am finding a big discrepancy in the calculation of BAM depth for a whole chromosome (chr4 in this example).

If I run the samtools command:
`samtools depth -a -r "chr4:0-191154275" 111056.bam | awk '{sum+=$3} END { print "Average = ",sum/191154275 `
I obtain the result: **Average = 24.5936**

BUT if I run the command with Sambamba:
`sambamba depth region -L "chr4:1-191154276" -t 10 -F

[2020-04-15 09:30] linelieblein opened #433 "sambamba-depth: couldn't open file"
Hi

I am using _sambamba depth region_ to look ar read coverage at 10 bp intervals. I get an error message saying " sambamba-depth: couldn't open file or find reference" about my .bed file. It has three columns, one for chromosome, one for start of interval and one for stop of interval.
I don't understand what's wrong here.

I have checked that all the pathways are correct.

Thank you

[2020-04-23 00:01] moldach opened #434 "Installation issue where is the executable now?"
I believe I'm very close to having `sambamba` installed.

[code]

I should not that `make` ran successfully after downloading and setting a path to `ldc`:

[code]

But now when I type `sambamba` into the console it say's the command can not be found. In older issues the exectuable was place in `/build` but I don't see that:

[code]

[2020-04-23 23:03] nh13 opened #435 "sambamba merge with stdout not working"
`sambamba merge /dev/stdout 1.bam 2.bam > out.bam` does not work on 0.6.6 and 0.7.1 installed via bioconda on OSX.  It looks like I omit the `> out.bam` pipe, I get the BAM file printed to stdout (crazy characters to the terminal).  Any ideas?

[2020-04-24 15:58] HYan-lei opened #436 "sambamba-view: Unexpected '_' when converting from type string to type uint"
Hi, I want to take the absolute value of the TLEN of each bam read and filters to those between 90 and 150 bp, and I use the following command and get the wrong message, can anyone please give me some suggestions? Thanks.

Haiyan

sambamba view -t 7_JS0022CD050118.dd.bam | awk -F'\t' 'sqrt($9*$9) < 150 {print $0}' | awk -F'\t' 'sqrt($9*$9) > 90' > 7_JS0022CD050118.frag.nohead

sambamba 0.7.1
 by A

[2020-04-29 18:30] moldach opened #437 "Compilation issue on HPC"
I'm getting an error trying to install `Sambamba` on Linux

## Installing LDC

[code]

## Sambama

[code]

Looks like the error is:

make: *** [Makefile:93: singleobj] Error 1

[2020-04-30 13:47] pjotrp commented on #434
Check the other build systems. Travis is one.

[2020-04-30 13:54] pjotrp commented on #437
That is a generated file from the make  file. Please look at the travis build script.

[2020-04-30 13:55] pjotrp commented on #436
I think this is fixed by author.

[2020-04-30 15:08] moldach commented on #437
Sorry I'm not sure I follow you? You're saying the `makefile` generates a travis build script when it errors that I should look at?

This is what I see in the `sambamba` directory:

[code]

This is the error from running `make`:

[code]

[2020-04-30 15:14] pjotrp commented on #437
https://travis-ci.org/github/biod/sambamba

[2020-04-30 15:45] moldach commented on #437
Yes what is this?
![Screenshot_20200430-094314_Chrome](https://user-images.githubusercontent.com/5749465/80730768-39bc7b00-8ac7-11ea-955c-0e264deebd8c.jpg)

Can you please explain what I need to do with the link you provided? I'm not familiar with Travis Continous Integration other then it's a tool to help developers (you)

[2020-04-30 15:58] pjotrp commented on #437
Look at the build log. That is what you should be doing.

[2020-04-30 15:58] pjotrp commented on #437
Why not install the binary downloads or bioconda?

[2020-04-30 16:14] hildebs42 opened #438 "Installation issue with BioD"
Error as follows:
[shilde@pegasus sambamba]$ make
cd htslib && make -j8
make[1]: Entering directory `/home/shilde/sambamba/htslib'
make[1]: Nothing to be done for `all'.
make[1]: Leaving directory `/home/shilde/sambamba/htslib'
mkdir -p bin/
compile single object...
ldc2 -singleobj -wi -I. -IBioD -g -J. -O3 -release -enable-inlining -boundscheck=off -L-lz -c -of=bin/sambamba-0.7.1.o utils/ldc_vers

[2020-05-01 14:59] moldach commented on #437
[code]

Where is the Travis build log? I see `meson.build` but this doesn't look like a log file

[2020-05-01 15:19] moldach commented on #437
We work on a shared [academic HPC and ComputeCanada admins forbid us from using `conda`](https://docs.computecanada.ca/wiki/Anaconda/en).

I run into issue for the binary install as well.

[code]

According to `INSTALL.md` one of the dependencies `liblz4` is not installed. According to [their documentation](https://github.com/lz4/lz4):

[code]

So it fails at this point because of the lack of root

[2020-05-11 23:45] psur9757 opened #439 "Memory issue with Sambamba markdup"
I am trying to prepare my data for freebayes and markdup was the final step before merging. However, that failed with a segmentation fault.

Error
[code]

I discussed this with the HPC team, here is there reply:
[code]

PBS Script
[code]

[2020-05-14 00:36] sainadfensi opened #440 "Too many files for merge"
sambamba/0.7.0

Hi,

I've seen a similar issue raised for [markdup](https://github.com/biod/sambamba/issues/229) and you suggest to increase the limit of number of files or increase the memory. However, I cannot get enough number by adjusting the ulimit and there is no similar option in sambamba-merge to increase the hash table size or list size.

I firstly thought maybe I could merge only part of

[2020-05-14 05:57] mschilli87 commented on #440
@sainadfensi

What makes you think that? Did you test it with a subset of files for which you can handle the single merge?
Computationally, I don't think there would be a big penalty. But I didn't check the actual implementaion of `sambamba merge`. The main performance hit might be I/O as you have to write the intermediate results to disk and read them back. If all your files fit into RAM, you cou

[2020-05-16 13:09] pjotrp commented on #437
ComputeCanada runs Nix packages - they have sambamba.

[2020-05-16 13:10] pjotrp commented on #437
Also the binary download of sambamba has all dependencies included. Download and run.

[2020-05-16 13:10] #437 closed

[2020-05-16 13:12] pjotrp commented on #435
The crazy characters are the BAM output. Try outputting SAM instead.

[2020-05-16 13:12] #435 closed

[2020-05-16 13:12] #434 closed

[2020-05-16 13:13] pjotrp commented on #432
Have a look at the raw data and tell us what you see.

[2020-05-16 13:14] #429 closed

[2020-05-18 03:47] sainadfensi commented on #440
Thank you. It's good to know it's feasible to merge files by separate steps. I had the wrong idea because I thought the tool is going to search the pair read of each read throughout inputs. I'll close this issue.

[2020-05-18 03:47] #440 closed

[2020-05-20 19:56] paulstretenowich commented on #286
Hi,
I'm trying to filter the reads oriented as FR only but I don't think it's feasible with sambamba. Any thoughts if it's already doable or planned to be included?
Thanks,
Paul

[2020-05-21 10:54] adily777 opened #441 "compilation error: no identifier for declarator Usage"
Hello,

I installed LDC ldc2-1.21.0-linux-x86_64.tar.xz (also tried with ldc2-1.18.0-linux-x86_64.tar.xz),
cloned the sambamba v0.7.1 and run make.

I have got this error:
[code]

What can be the reason for that?
Thank you,
Adily

[2020-06-03 12:01] pjotrp commented on #441
Run the version script - see the makefile.

[2020-06-03 12:01] #441 closed

[2020-06-03 12:27] adily777 commented on #441
Sorry, but how should I run the version script? Is it the utils/version_.d or utils/ldc_version_info_.d file?

[2020-06-04 05:56] mbk0asis opened #442 "sambamba: symbol lookup error"
* sambamba-0.7.1
* Ubuntu 20.04
* I just installed 'SAMBAMBA' using `'conda install sambamba'` and ran 'sambamba'.

[code]
What might be the problem here?

Thank you!

[2020-06-06 21:28] jjfarrell opened #443 "Cram format support"
Is cram format for input supported? The command line doc shows only <input.bam|input sam> but the is a parameter listed as -C that indicates cram is supported for input.   Sambamba generates lots of errors when reading the cram so I suspect not.  It would be good if the -C is dropped from the usage description and a single nice error that cram input is not supported.

sambamba 0.7.1
 by Artem Tara

[2020-06-07 13:39] pjotrp commented on #443
#355

[2020-06-07 13:39] #443 closed

[2020-06-08 21:48] jjfarrell commented on #443
Why was this closed?  Documentation and lack of feedback for lack of the commonly used cram format is still missing.

1. Wouldn't it be nice for a user not to get an lots of slice error message when running this on a cram. A message like "cram format is not supported and never will be" would be preferable.  Just test the extension and exit.

2. The command line help still suggests the  cram cram f

[2020-06-16 21:56] paulstretenowich opened #444 "Filtering out reads with not and 2 conditions"
Hi,

I'm trying to filter out from a bam file all the reads aligned to human and with a mapping quality above 30. To do so I wrote: `sambamba view -f bam -F "not (ref_name =~ /chr*/ and mapping_quality >= 30)" file.bam`.
The `not` key word seems to apply to both ref_name AND mapping quality separately and not to the combination of both because when I try `not (ref_name =~ /chr*/ and mapping_qualit

[2020-06-22 07:12] tahuh opened #445 "sambamba depth output coordinate system"
Hi

I am using sambamba version `0.7.0` and `0.7.1`

I have tested the depth format to count up the bases with command below

`sambamba depth base -L chr7:55191822-55191823 in.bam`

`0.7.0` produce as shown below

[code]

`0.7.1` shows

[code]

Is sambamba designed to flush output in zero based context or is this problem is a bug?

Thanks

[2020-06-22 15:22] aledj2 opened #446 "exclude softclipped bases from the reported depth"
As far as I can tell the filters work on the read level, not the base level.

[2020-06-27 09:00] rhpvorderman opened #447 "Sambamba sort is inefficient compared to samtools."
### The problem.
On HPC or Cloud a certain number of CPU and memory need to be reserved. On our own HPC (SLURM) the amount of resources requested determines how fast a job gets scheduled (the lesser the better). Also in the cloud the less resources you request, and the less time you need the better.

I am currently investigating which tools we can use best for whole genome sequencing. Whilst sorti

[2020-07-06 11:44] tillea commented on #425
Do you have some plan when you might be able to solve this inside sambamba.  Htslib upstream is not really happy about the patch.

[2020-07-06 15:55] pjotrp commented on #447
The consensus is that sambamba sort is faster on high-memory machines. Otherwise use samtools.

[2020-07-07 05:17] rhpvorderman commented on #447
@pjotrp Thanks for the clarification.

Also thank you for developing sambamba. We have recently switched to sambamba markdup from Picard Markduplicates and it has a much better wall clock time.

[2020-07-07 05:17] #447 closed

[2020-07-09 08:25] pjotrp opened #448 "gold linker with guix ignores rpath"
After a build with

[code]

I am getting

./bin/sambamba-0.7.1: error while loading shared libraries: libz.so.1: cannot open shared object file: No such file or directory

[2020-07-10 05:20] juulluu21 opened #449 "Sambamba not running in OSX Catalina"
Hi: I am trying to run Smabamba in OSX Catalina. I get this in terminal:

dyld: lazy symbol binding failed: Symbol not found: _dyld_enumerate_tlv_storage
  Referenced from: /usr/local/Cellar/sambamba/0.6.8/bin/sambamba
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not found: _dyld_enumerate_tlv_storage
  Referenced from: /usr/local/Cellar/sambamba/0.6.8/bin/sambamba
  Expected in: /usr/l

[2020-07-15 07:55] rhpvorderman opened #450 "Feature request: Build sambamba with libdeflate"
[Libdeflate](https://github.com/ebiggers/libdeflate) is a library that has zlib and gzip compatible bindings. Htslib can be build with libdeflate instead of zlib.

Most of the time spent writing BAM files is actually compressing them. Libdeflate is much faster than zlib, so I wonder if this can be an improvement for sambamba.

[2020-07-15 18:56] pjotrp commented on #450
That is an interesting idea and probably easy to implement for someone with some C background. Ruben, are you interested in trying yourself, or should we look for someone?

[2020-07-15 18:59] pjotrp commented on #449
We don't support OSX though some people manage to run sambamba on it. A docker container may do the trick.

[2020-07-15 18:59] #449 closed

[2020-07-15 19:00] pjotrp commented on #446
Patches are welcome.

[2020-07-15 19:03] pjotrp commented on #445
If you search for https://github.com/biod/sambamba/issues?q=is%3Aissue+zero you'll find more.

[2020-07-15 19:04] pjotrp commented on #442
It is a bioconda issue.

[2020-07-15 19:04] #442 closed

[2020-07-15 19:05] #424 closed

[2020-07-15 19:06] pjotrp commented on #449
See #424

[2020-07-15 19:07] pjotrp commented on #415
Hi @tzuni, feel free to send a patch.

[2020-07-15 19:10] pjotrp commented on #406
closing this for lack of reply.

[2020-07-16 05:07] rhpvorderman commented on #450
I have no C background whatsoever. I also don't have experience with C++ or D, so integrating libdeflate into sambamba would be quite challenging for me.

[2020-07-16 08:28] isthisthat commented on #406
Hi @pjotrp , sorry for the lack of response! This is still an issue (on my hands at least) with 0.7.1:

`sambamba depth base -L chr22_KI270731v1_random:0-150754 NA12878-xxx.bam
                                                                                                                                                               sambamba 0.7.1
 by Artem Tarasov and Pjotr Prins (C) 2012-2019

[2020-07-16 08:32] pjotrp commented on #406
OK, I'll reopen. If it happens with any BAM file it should be easy to reproduce.

[2020-07-17 01:58] tahuh commented on #445
Hi @pjotrp
I found the answer via link you have attatched (link : https://github.com/biod/sambamba/issues/293)

Now I think it is okay to close this issue.
Thanks!

[2020-07-17 01:58] #445 closed

[2020-07-19 12:15] aderzelle opened #451 "Limiting ram usage in merge?"
Hello,

I was wondering if there was a "clever" trick to merge many bam files while keeping the memory usage to a reasonable amount, apart from merging batches after batches.

Thank you ^^'

[2020-07-22 13:50] aledj2 commented on #446
Actually I think it doesn't count softclipped bases.

[2020-07-22 13:50] #446 closed

[2020-07-22 13:55] aledj2 opened #452 "option not to print warning messages (eg re overlapping mates)"
When running with -m warning messages (mates overlap in index are fixed/detected) are printed to stderr.
These messages slow down execution.
Redirecting 2>/dev/null would lose any other error messages

I'm using v0.7.1 static binary

[2020-07-23 08:52] aledj2 commented on #452
Realised I didn't state this is with depth

As the warning message can't be traced to a single read, perhaps a count can be reported at the end, eg

x mates fixed
y mates detected

I've looked to see if I can suggest a patch but I'm not familiar enough with d (sorry)

[2020-07-27 07:49] guijie2015 commented on #441
I find how to solve the problem.
I delete 'shell' in Makefile.Then it run.

[2020-07-29 07:22] WellJoea opened #453 "sambamba sort error with sambamba-0.7.1-linux-static"
when using  sambamba sort with sambamba-0.7.1-linux-static, I got the error:
sambamba-sort: sambamba-0.7.1-linux-static/sambamba-pid235457-hgci: Not a directory

[2020-07-29 08:45] WellJoea commented on #453
So sorry！
It is my problem~~

[2020-07-31 15:15] cviner commented on #224
I also just got this in version `0.7.1`, with `sambamba view`, when converting from SAM to BAM, across 20 threads.

[2020-09-30 16:15] RachelDuffin opened #455 "Differences in output between depth region -m (v0.6.5 and v0.7.1)"
Hi,

I am trying to validate use of sambamba v0.7.1 depth region and have found there to be differences in the bed file outputs for mean coverage and read count between versions v0.7.1 and v0.6.5. I have tried running sambamba depth region without the -m flag and found that any differences disappeared.

I noticed there was a previous issue #290 that seems similar which described calculation of num

[2020-10-06 13:18] aledj2 opened #456 "sambamba depth -m"
Hi, Can you describe how the -m flag is used to select reads? A few other tools seem to select the forward read, or those which map to the plus strand of the genome, I _think_ sambamba selects for the minus strand??

[2020-11-16 20:35] akkellogg commented on #433
I had a similar issue, if your bed file has a header line, i.e. "#chrom start stop", try removing that. That seemed to be what was causing the error for me.

[2020-11-16 21:07] robinpaul85 opened #457 "Sambamba depth tools does not report softclipped bases"
I noticed that the sambamba depth tool does not report the number of soft clipped bases. Can it report the number of softclipped bases ? I noticed that the "REFSKIP" column is always empty? What is that column for? I am using sambamba 0.7.1.

[2020-11-27 14:59] MatthieuBeukers opened #458 "Sambamba depth -q error"
With Sambamba v0.7.0, running the following command:
[code]

results in the following error:
```sambamba-depth: Cannot open or create file '10' : No such file or directory```

My BED file has no header and only three tab separated columns (chromosome names are not preceded by 'chr'). Supplying the parameters in a different order also made no difference.
The error does not appear when ```-q 10``` i

[2020-11-29 16:32] #439 closed

[2020-11-29 16:33] #438 closed

[2020-11-29 17:31] pjotrp commented on #425
Getting round to it.

[2020-11-30 09:31] pjotrp commented on #422
Thanks @tillea. These were fixed.

[2020-11-30 09:31] #422 closed

[2020-11-30 15:14] #416 closed

[2020-11-30 15:15] pjotrp commented on #425
I stripped out CRAM support and htslib in the 0.8 release.

[2020-11-30 15:15] #425 closed

[2020-11-30 15:50] pjotrp commented on #327
No activity

[2020-11-30 15:50] #327 closed

[2020-11-30 15:51] pjotrp commented on #308
No activity

[2020-11-30 15:51] #308 closed

[2020-11-30 15:51] pjotrp commented on #325
No activity

[2020-11-30 15:52] pjotrp commented on #359
No activity

[2020-11-30 15:52] pjotrp commented on #334
No activity

[2020-11-30 15:52] #334 closed

[2020-11-30 15:53] pjotrp commented on #399
Done

[2020-11-30 15:53] #399 closed

[2020-11-30 15:53] pjotrp commented on #433
No activity

[2020-11-30 15:53] #433 closed

[2020-11-30 15:54] pjotrp commented on #448
Fixed.

[2020-11-30 15:54] #448 closed

[2020-11-30 15:54] pjotrp commented on #452
No activity

[2020-11-30 15:54] #452 closed

[2020-11-30 15:55] pjotrp commented on #372
No activity

[2020-11-30 15:55] #372 closed

[2020-11-30 15:55] pjotrp commented on #453
No activity

[2020-11-30 15:55] #453 closed

[2020-11-30 15:55] pjotrp commented on #364
No activity

[2020-11-30 15:55] #364 closed

[2020-11-30 15:56] pjotrp commented on #432
No activity

[2020-11-30 15:56] #432 closed

[2020-11-30 15:56] pjotrp commented on #451
No activity

[2020-11-30 15:56] #451 closed

[2020-11-30 15:56] pjotrp commented on #444
No activity

[2020-11-30 15:56] #444 closed

[2020-11-30 15:58] pjotrp commented on #455
Sorry for the late reply. Sambamba is in maintenance mode, the bug may still be there.

[2020-11-30 15:58] #455 closed

[2020-11-30 15:58] pjotrp commented on #421
No activity

[2020-11-30 15:58] pjotrp commented on #423
No activity

[2020-11-30 15:58] #423 closed

[2020-11-30 15:58] pjotrp commented on #382
No activity

[2020-11-30 15:58] #382 closed

[2020-11-30 15:59] pjotrp commented on #456
No activity

[2020-11-30 15:59] #456 closed

[2020-11-30 16:02] pjotrp commented on #458
If you send me an example that does this that I can reproduce locally, I can take a look.

[2020-11-30 16:02] #417 closed

[2020-11-30 16:03] #415 closed

[2020-11-30 16:04] #428 closed

[2020-11-30 16:04] #359 closed

[2020-11-30 16:05] pjotrp commented on #311
No activity

[2020-11-30 16:05] #311 closed

[2020-11-30 16:05] #323 closed

[2020-11-30 16:18] duartemolha commented on #221
should a 0 base posions reporting be start+1 to end?

I.e if my snp is at position 100 on chr1 a bed file (0 base) would report that coordinate as chr1 99 100

if you report star , end-1 then you would be reporting the coverage on position 99  which is not correct according to input

[2020-11-30 18:13] heuermh commented on #421
Hello @pjotrp, sorry for not responding earlier.  This is still an issue even with the latest 0.7.1 container.

To reproduce, running `sambamba` locally
[code]

With `sambamba` via docker
[code]

Prerequisites are OpenJDK, Apache Maven, and Docker, if running that way.  Any BAM file of non-trivial size will do.

Either of these could be a big help:
 * support reading from stdin directly instead of

[2020-11-30 20:12] pjotrp commented on #221
@duartemolha I am not sure what you are asking here. If you can provide a concrete example I may be able to help.

[2020-11-30 20:22] pjotrp commented on #421
Not enough data in stream gets reported when a file ends/closes before the expected end. BAM has block sizes, so the stream stops before parsing is done and an error gets reported. Probably best to try building a simple test case **outside** a container and see if you can replicate the problem.

If you can not replicate we could build a sambamba with debugging information and you can do a back tra

[2020-11-30 20:29] pjotrp commented on #421
Happy to help a fellow coder.

[2020-12-01 06:51] pjotrp commented on #421
I just confirmed the issue with

[code]

markdup using a file runs normally. Other sambamba commands do not show this issue.

BTW on your comment support reading from stdin directly instead of via /dev/stdin: they are the one and same thing.

[2020-12-01 07:10] pjotrp commented on #458
I just confirmed

[code]

[2020-12-01 07:14] pjotrp commented on #406
Can you send me (a section of) that input file so I can easily replicate the issue?

[2020-12-01 07:14] #457 closed

[2020-12-01 07:16] pjotrp commented on #427
It should not be too hard, but it needs someone who has the itch to scratch :).

[2020-12-01 07:17] pjotrp commented on #426
I am closing the issue. If someone wants to work on it they can reopen.

[2020-12-01 07:17] #426 closed

[2020-12-01 07:29] pjotrp commented on #450
Just for perspective, the binding to zlib is in [zlib.d](https://github.com/biod/sambamba/blob/e4ae4fe6b2e886c4286ebe8d872c71f5036d522a/BioD/bio/core/utils/zlib.d#L1). Bgzf [compression](https://github.com/biod/sambamba/blob/e4ae4fe6b2e886c4286ebe8d872c71f5036d522a/BioD/bio/core/bgzf/compress.d#L24) is where it is used (see also decompress.d). It should not be too hard, but I don't have time for i

[2020-12-01 07:29] #450 closed

[2020-12-01 07:29] pjotrp commented on #427
I am closing the issue. If someone wants to work on it it can be reopened.

[2020-12-01 07:29] #427 closed

[2020-12-01 07:30] pjotrp commented on #325
I am closing this issue. It is interesting and if someone wants to work on it it can be reopened.

[2020-12-01 07:30] #325 closed

[2020-12-01 07:31] pjotrp commented on #410
It probably requires a new feature. Closing this until someone wants to write the code :)

[2020-12-01 07:31] #410 closed

[2020-12-01 10:40] isthisthat commented on #406
Ok I've narrowed down the bug. It seems to occur when the start coordinate is zero, e.g.:
`sambamba-0.8.0-linux-amd64-static depth base -L chr1:0-10 any.bam`
same for `region`
I'm guessing it uses 1-based coordinates for the chr:start-end definition (as it should).
It seems like a minor thing then.

[2020-12-01 10:55] pjotrp commented on #406
Great. I can reproduce the issue

[code]

[2020-12-01 10:55] pjotrp commented on #406
I love reproducible bugs!

[2020-12-01 11:12] pjotrp commented on #360
Hi @hassanfa, sorry I forgot, did you send me the file(s)?

[2020-12-01 20:01] heuermh commented on #421
Good catch!  Sorry I missed trying that way (`cat | sambamba markdup /dev/stdin`) before; I only noticed that it worked ok on files.

[2020-12-02 11:49] pjotrp commented on #421
The problem is that markdup, to avoid having the whole BAM file in RAM, reads the input file [twice](https://github.com/biod/sambamba/blob/e4ae4fe6b2e886c4286ebe8d872c71f5036d522a/sambamba/markdup.d#L1267) - once for getting the positions, then another round for writing the output file. Reading twice from stdin obviously won't work, so you get this error: "not enough data in stream".

In a shell t

[2020-12-02 12:36] pjotrp commented on #421
Looking at the code I think this can be made a single pass for a sorted BAM. That would make it faster. A future version could also hold an unsorted BAM file in RAM because 128GB machines are getting increasingly common.

[2020-12-18 13:04] Stikus opened #459 "Make install error"
Hello, I'm trying to utilize `make install` part of `Makefile` and get this error.

[code]
Looks like this [line](https://github.com/biod/sambamba/blob/master/Makefile#L112) is causing problem:
[code]
According to code and my observations your binary is [called](https://github.com/biod/sambamba/blob/master/Makefile#L39):
[code]
Maybe `bin/sambamba` should be modified to `$(OUT)`?
[code]
With this

[2021-01-14 07:39] pjotrp commented on #459
Thanks, will fix!

[2021-01-14 07:43] pjotrp opened #460 "Fix meson build"
https://salsa.debian.org/med-team/sambamba/-/blob/master/debian/patches/fix_meson_syntax.patch

[2021-01-20 05:56] xiucz opened #461 "markduplicate's result still differs from picard"
Hi,
 I have seen the issues about `sambamba markdup`, they get consensus result as picard did. But in my situation,  I use `samtools flagstat`  command to check my results, I get different results:

[code]
[code]

[code]
#148 gives the same result, but in practice, it dosen't.Is it a bug?
Thank you.
xiucz.

[2021-02-02 07:48] tolot27 opened #462 "additional header columns are removed"
Sambamba removes additional header columns like `DS:T` added by [Salmon](https://github.com/COMBINE-lab/salmon/releases/tag/v1.3.0) of input files in sam format.

How to reproduce:

Samtools:
[code]

Sambamba:
[code]

Expected: All header information should be retained even if it is converted to BAM.

[2021-02-02 16:06] pjotrp commented on #462
Hi @tolot27, thanks for pointing that out. Do you feel like submitting a patch yourself? It should not be too hard. First look in the code and see where the header gets parsed. Follow what happens with the contents and the writer.

[2021-02-02 16:10] pjotrp commented on #461
Well, tools change. Picard probably got changed in the last years. The difference is small and I would not worry about it. There are always edge cases.

[2021-02-03 02:08] #461 closed

[2021-02-10 11:33] dulunar commented on #189
sambamba version: 0.7.1, download binary from release and uncompress for using.
LSB Version:    core-2.0-amd64:core-2.0-noarch:core-3.0-amd64:core-3.0-noarch:core-3.1-amd64:core-3.1-noarch:core-3.2-amd64:core-3.2-noarch:core-4.0-amd64:core-4.0-noarch:core-4.1-amd64:core-4.1-noarch:security-4.0-amd64:security-4.0-noarch:security-4.1-amd64:security-4.1-noarch
Distributor ID: Ubuntu
Description:    U

[2021-02-10 13:28] dulunar opened #463 "sambamba markdup deadlock in Ubuntu 14.04"
sambamba version: 0.7.1, downloaded binary from release's page and uncompress for using.

[code]

Feb 10 01:39, when I used command as follow:
[code]

But it was deadlock at Feb 10 01:40. There are just 42 bam files：
[code]

And I checked the /var/log/messages, I found this:
[code]

I tried to use version 0.8.0, still deadlocked. The log:
[code]

Now I am trying to use version 0.6.6 for testing if

[2021-02-13 00:07] moldach opened #464 "Sambamba should be able to convert SAM->BAM and sort at the same time like samtools"
`Sambamba` has a number of functions which are reported to be quicker than counterparts.

I'm trying to exchange the following functions (`view`, `sort`, `markdup` & `index`) in our pipeline for faster alternatives.

While most of the functions appear faster from my benchmarks the use of `view`/`sort` raises some concern. It appears that the critical difference between `Samtools` and `Sambamba` se

[2021-02-14 15:07] pjotrp commented on #464
This is not a bug. You can see the same in earlier speed tests. But thanks for reporting.

[2021-02-14 15:07] #464 closed

[2021-02-19 03:57] An1e opened #465 "could not make sambamba-ldmd2-64"
i followed all the steps given on this website, however i failed when executing "make sambamba-ldmd2-64", and the error is "make: *** No rule to make target `sambamba-ldmd2-64'.  Stop."

I've already installed ldc2 and added alias to my bash profile, but still can't figure out what's wrong with my mac.

really need your help, thanks a lot.

[2021-02-19 09:44] pjotrp commented on #465
Sambamba builds on Mac. Examples are on travis:

https://travis-ci.com/github/biod/sambamba/jobs/482840606

[2021-02-19 09:46] pjotrp commented on #463
We only have a chance at fixing these issues when we get a *reproducible* example. Provide us with a run and examples that I can replicate and I'll take a look.

[2021-03-07 14:23] xiekunwhy opened #466 "Is it necessary to sort bam files by read names before markdup?"
Hi,

Is it necessary to sort bam files by read names before markdup?

Best,
Kun

[2021-03-08 08:24] Masaru-iehisa opened #467 "depth error"
I performed depth command following but an error occurred.

sambamba-0.8.0 depth region -L test.bed sample.bam

sambamba-depth: Enforcement failed

Please tell me why the error occurred.

[2021-03-09 21:04] #462 closed

[2021-03-23 15:11] Poshi opened #470 "sambamba merge using too much memory"
In a recent run of sambamba merge (0.7.0) I observed an incredibly large memory usage for what should be virtually zero.
According to SLURM accounting, an execution took 2572s and used 6.33GiB of memory.

That could make sense if it were a sort, but it was just a merge of already sorted inputs, so the theoretical minimum memory need is just one record per input file. There were only 4 input files

[2021-04-21 09:24] dulunar opened #471 "downsampling by sambamba with seed"
I have checked the source code of sambamba view in view.d file. And I found that there has some codes:

160     subsampling_seed = unpredictableSeed;
161     subsampling_seed <<= 32;
162     subsampling_seed += unpredictableSeed;

I have some questions:
1. Does it mean that seed doesn't need to be set?
2. When I set the seed from 1-100,  I found that the kept reads number is very different. Someti

[2021-04-21 09:25] dulunar commented on #463
The bam file is very large that I can't upload it, sorry.

[2021-04-21 09:31] pjotrp commented on #471
There is a command line parameter for setting the seed

[2021-04-22 22:23] gartician opened #472 "MultiQC support for sambamba markdup"
Hi sambamba team,

Thank you for your work in putting together a fast and effective package. I have been running `sambamba markdup` recently and noticed the output log file could be parsed to fit a [multiQC ](https://multiqc.info/) module. I imagine the duplicates, paired end, and single-end reads could be summarized in a bar graph to show proportions and absolute numbers. I would love to write th

[2021-04-24 07:49] pjotrp commented on #472
Hi @gartician, yes for sure. Sambamba is kind of in maintenance mode and I will accept a pull request with tests.

It is also possible to program in Rust. We are creating a new bam reader/writer in Rust.  I can point you to the code if that is of interest, but it will probably involve writing more code at this stage.

[2021-04-26 21:32] nadyawilliams opened #473 "Compiling from source v.0.8.0 fails"
**Describe the bug**

Building  from source on CentOS 7.9
Downloaded prerequisite ldc (ldc2-0.17.6-linux-x86_64), set PATH an LIBRARY_PATH per ldc install path:
export PATH=$PATH:`pwd`/ldc2-0.17.6-linux-x86_64/bin
export LIBRARY_PATH=`pwd`/ldc2-0.17.6-linux-x86_64/lib

Running make failed with the following error:

mkdir -p bin/
compile single object...
ldc2 -singleobj -wi -I. -IBioD -g -J. -O3 -r

[2021-04-27 07:07] pjotrp commented on #473
Use a modern compiler.

[2021-04-27 07:07] #473 closed

[2021-04-27 07:09] #470 closed

[2021-04-27 07:48] Poshi commented on #470
OK, I will look for a Google group, but it seems to me an issue/bug. I'm not asking for support, but for a resolution.

[2021-04-27 08:55] Poshi opened #474 "Inaccessible google groups support forum"
I'm trying to access the support group which, according to the documentation, is supposed to be at https://groups.google.com/forum/#!forum/sambamba-discussion

For some reason, I'm getting an error of "Content not available". I tried with Chrome and Firefox, logged in a Google account and unlogged.

I'm not sure if this is a documentation bug and it should be changed to the current location or an

[2021-04-27 10:45] pjotrp commented on #474
Please sign up and don't open new issues for things that are not clearly sambamba bugs. Please follow https://github.com/biod/sambamba#check-list

[2021-04-27 14:14] Poshi commented on #474
I'm trying, but I cannot sign up to something that says, literally "Contingut no disponible" (in my language, which translates to "content not available"). I cannot access the group thru a search either. That's why I assumed the mailing list changed of location and it was a BUG in sambamba documentation.
In case the link is correct and for some reason (that I cannot see) I cannot access the group,

[2021-04-27 14:14] #474 closed

[2021-04-27 15:09] nadyawilliams commented on #473
A modern compiler would be intel or gcc. I do have both the latest
available, however your compilation is using ldc and
according to your document on the install page the version i used
 should be compatible.
Perhaps it would be useful to other users as well to make
 requirements more clear and specify
a matrix of versions compatibility.

On Tue, Apr 27, 2021 at 12:08 AM Pjotr Prins ***@***.***>
w

[2021-05-01 20:20] sklages opened #475 "sambamba markdup: Unable to write to stream"
Well, running `sambamba markdup` results in an error when using `--io-buffer-size=X` with X being larger than 1024.
I read this in issue #169 and was not expecting it to be still an issue.

- BAM: some BAMs, WGBS data, between 19GB and 35GB in size (created by `bsmap`)
- sambamba: Version 0.8.0
- params: `--remove-duplicates --nthreads=24 --compression-level=4 --sort-buffer-size=8192 --io-buffer-s